<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>АПТЕКА</title>
    <link rel="stylesheet" href="./css/swiper-bundle.min.css">
    <link rel="stylesheet" href="./lightGallery-master/dist/css/lightgallery-bundle.min.css">
    <link rel="stylesheet" href="./lightGallery-master/dist/css/lg-thumbnail.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#31353b">
    <meta name="msapplication-TileColor" content="#31353b">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
@@include('./global/header.html')
<div class="container">
    <div class="grid-columns grid-columns_left catalog-page m-20 m-footer">
        <div class="grid-columns__menu">
            <aside class="aside-menu">
                <div class="aside-menu__wrapper">
                    <div class="aside-menu__item aside-menu__item--favorite">
                        <div class="aside-menu__row">
                            <a href="#" class="aside-menu__link">В избранном <b>(5)</b></a>
                        </div>
                    </div>
                    <div class="category-menu">
                        <div class="category-menu-parent df df-ai-center">
                            <svg width="7" height="10">
                                <use xlink:href="/img/sprites.svg#arrow-menu"></use>
                            </svg>
                            <a href="#" class="category-menu-parent__link h6">Медикаменты</a>
                        </div>
                        <div class="category-menu-group">
                            <a href="catalog-level2.html" class="category-menu-group__title h6">Препараты от аллергии</a>
                            <ul class="category-menu__list category-menu-group__list">
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Аллергический кашель препараты</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Аллергический ринит препараты</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Аллергическая сыпь препараты</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Аллергический дерматит препараты</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Аллергическая сыпь у детей препараты</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Аллергическая реакция препараты</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Препараты от анафилактического шока</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Аллергия на животных</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Аллергия на пыль препараты</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Аллергия на пыльцу препараты</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Средства от аллергии на медпрепараты</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Пищевая аллергия</a></li>
                            </ul>
                            <div class="category-menu-group__btn h7 active">Скрыть</div>
                        </div>
                        <div class="category-menu-group">
                            <a href="catalog-level2.html" class="category-menu-group__title h6">Препараты от простуды</a>
                            <ul class="category-menu__list category-menu-group__list">
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Жаропонижающие препараты</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Жаропонижающие для детей</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Препараты при обструктивных заболеваниях легких</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергический дерматит препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергическая сыпь у детей препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергическая реакция препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Препараты от анафилактического шока</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на животных</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на пыль препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на пыльцу препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Средства от аллергии на медпрепараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Пищевая аллергия</a></li>
                            </ul>
                            <div class="category-menu-group__btn h7">Показать все</div>
                        </div>
                        <div class="category-menu-group">
                            <a href="catalog-level2.html" class="category-menu-group__title h6">Контрастные вещества</a>
                        </div>
                        <div class="category-menu-group">
                            <a href="catalog-level2.html" class="category-menu-group__title h6">Гинекологические препараты</a>
                            <ul class="category-menu__list category-menu-group__list">
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Вагинальные свечи</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Препараты от молочницы</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Препараты от кольпита</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергический дерматит препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергическая сыпь у детей препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергическая реакция препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Препараты от анафилактического шока</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на животных</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на пыль препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на пыльцу препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Средства от аллергии на медпрепараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Пищевая аллергия</a></li>
                            </ul>
                            <div class="category-menu-group__btn h7">Показать все</div>
                        </div>
                        <div class="category-menu-group">
                            <a href="catalog-level2.html" class="category-menu-group__title h6">Дерматологические препараты</a>
                            <ul class="category-menu__list category-menu-group__list">
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Средства для заживления ран</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Противозудные средства</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Противогрибковые средства в дерматологии</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергический дерматит препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергическая сыпь у детей препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергическая реакция препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Препараты от анафилактического шока</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на животных</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на пыль препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на пыльцу препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Средства от аллергии на медпрепараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Пищевая аллергия</a></li>
                            </ul>
                            <div class="category-menu-group__btn h7">Показать все</div>
                        </div>
                        <div class="category-menu-group">
                            <a href="catalog-level2.html" class="category-menu-group__title h6">Обезболивающие средства</a>
                            <ul class="category-menu__list category-menu-group__list">
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Препараты от головной боли</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Обезболивающие препараты от зубной боли</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Обезболивающие препараты от боли в спине</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергический дерматит препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергическая сыпь у детей препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергическая реакция препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Препараты от анафилактического шока</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на животных</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на пыль препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на пыльцу препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Средства от аллергии на медпрепараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Пищевая аллергия</a></li>
                            </ul>
                            <div class="category-menu-group__btn h7">Показать все</div>
                        </div>
                        <div class="category-menu-group">
                            <a href="catalog-level2.html" class="category-menu-group__title h6">Гормональные препараты</a>
                            <ul class="category-menu__list category-menu-group__list">
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Препараты при гипертиреозе</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Препараты при гипотиреозе</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Препараты для похудения</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергический дерматит препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергическая сыпь у детей препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергическая реакция препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Препараты от анафилактического шока</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на животных</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на пыль препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на пыльцу препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Средства от аллергии на медпрепараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Пищевая аллергия</a></li>
                            </ul>
                            <div class="category-menu-group__btn h7">Показать все</div>
                        </div>
                        <div class="category-menu-group">
                            <a href="catalog-level2.html" class="category-menu-group__title h6">Мочегонные средства</a>
                            <ul class="category-menu__list category-menu-group__list">
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Мочегонные для похудения</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Мочегонные средства при отеках ног</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Мочегонные средства при отеках лица</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергический дерматит препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергическая сыпь у детей препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергическая реакция препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Препараты от анафилактического шока</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на животных</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на пыль препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на пыльцу препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Средства от аллергии на медпрепараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Пищевая аллергия</a></li>
                            </ul>
                            <div class="category-menu-group__btn h7">Показать все</div>
                        </div>
                        <div class="category-menu-group">
                            <a href="catalog-level2.html" class="category-menu-group__title h6">Противовирусные препараты</a>
                            <ul class="category-menu__list category-menu-group__list">
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Препараты от гриппа</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Препараты от кори</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Препараты от герпеса</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергический дерматит препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергическая сыпь у детей препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергическая реакция препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Препараты от анафилактического шока</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на животных</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на пыль препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на пыльцу препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Средства от аллергии на медпрепараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Пищевая аллергия</a></li>
                            </ul>
                            <div class="category-menu-group__btn h7">Показать все</div>
                        </div>
                        <div class="category-menu-group">
                            <a href="catalog-level2.html" class="category-menu-group__title h6">Препараты для сердечно-сосудистой системы</a>
                            <ul class="category-menu__list category-menu-group__list">
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Сердечная недостаточность препараты</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Ишемическая болезнь сердца</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Инфаркт миокарда препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергический дерматит препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергическая сыпь у детей препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергическая реакция препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Препараты от анафилактического шока</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на животных</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на пыль препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на пыльцу препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Средства от аллергии на медпрепараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Пищевая аллергия</a></li>
                            </ul>
                            <div class="category-menu-group__btn h7">Показать все</div>
                        </div>
                        <div class="category-menu-group">
                            <a href="catalog-level2.html" class="category-menu-group__title h6">Препараты для нервной системы</a>
                            <ul class="category-menu__list category-menu-group__list">
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Препараты при неврозах</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Ишемическая болезнь сердца</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Антидепрессанты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергический дерматит препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергическая сыпь у детей препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергическая реакция препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Препараты от анафилактического шока</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на животных</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на пыль препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Аллергия на пыльцу препараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Средства от аллергии на медпрепараты</a></li>
                                <li class="category-menu__item hidden"><a href="#" class="category-menu__link">Пищевая аллергия</a></li>
                            </ul>
                            <div class="category-menu-group__btn h7">Показать все</div>
                        </div>
                        <div class="category-menu-group">
                            <a href="catalog-level2.html" class="category-menu-group__title h6">Контрацепция, планирование семьи</a>
                        </div>
                        <div class="category-menu-group">
                            <a href="catalog-level2.html" class="category-menu-group__title h6">Препараты от болезни Паркинсона</a>
                        </div>
                        <div class="category-menu-group">
                            <a href="catalog-level2.html" class="category-menu-group__title h6">Препараты от эпилепсии</a>
                        </div>
                        <div class="category-menu-group">
                            <a href="catalog-level2.html" class="category-menu-group__title h6">Препараты от псориаза</a>
                        </div>
                        <div class="category-menu-group">
                            <a href="catalog-level2.html" class="category-menu-group__title h6">Противоревматические средства</a>
                        </div>
                        <div class="category-menu-group">
                            <a href="catalog-level2.html" class="category-menu-group__title h6">Вакцина</a>
                        </div>
                        <div class="category-menu-group">
                            <a href="catalog-level2.html" class="category-menu-group__title h6">Противомикробные средства</a>
                            <ul class="category-menu__list category-menu-group__list">
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Антибактериальные свечи</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Противомикробные мази</a></li>
                                <li class="category-menu__item"><a href="#" class="category-menu__link">Антибактериальные капли</a></li>
                            </ul>
                            <div class="category-menu-group__btn h7">Показать все</div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <div class="content">
            <nav class="breadcrumb df df-ai-center p3 m-20 scroll">
                <a href="index.html" class="breadcrumb__item">Главная</a>
                <span class="breadcrumb__separator"></span>
                <span class="breadcrumb__item active">Медикаменты</span>
            </nav>
            <h1 class="product__title h1">Медикаменты</h1>
            <div class="catalog">
                <div class="catalog__wrapper">
                    <section class="catalog-panel">
                        <h2 class="catalog-panel__title h4">Категории</h2>
                        <div class="catalog-panel__cards" id="catalog-panel-cards">
                            <a href="catalog-level2.html" class="catalog-panel__item h6">Препараты от аллергии</a>
                            <a href="catalog-level2.html" class="catalog-panel__item h6">Препараты от простуды</a>
                            <a href="catalog-level2.html" class="catalog-panel__item h6">Контрастные вещества</a>
                            <a href="catalog-level2.html" class="catalog-panel__item h6">Гинекологические препараты</a>
                            <a href="catalog-level2.html" class="catalog-panel__item h6">Дерматологические препараты</a>
                            <a href="catalog-level2.html" class="catalog-panel__item h6">Контрацепция, планирование семьи</a>
                            <a href="catalog-level2.html" class="catalog-panel__item h6">Иммуномодуляторы</a>
                            <a href="catalog-level2.html" class="catalog-panel__item h6">Гематологические препараты</a>
                            <a href="catalog-level2.html" class="catalog-panel__item h6">Гематологические препараты</a>
                            <a href="catalog-level2.html" class="catalog-panel__item h6">Урологические препараты</a>
                            <a href="catalog-level2.html" class="catalog-panel__item h6">Гепатопротекторы</a>
                            <a href="catalog-level2.html" class="catalog-panel__item h6">Препараты для желудочно-кишечного тракта</a>
                            <a href="catalog-level2.html" class="catalog-panel__item h6">Гематологические препараты</a>
                            <a href="catalog-level2.html" class="catalog-panel__item h6">Урологические препараты</a>
                            <a href="catalog-level2.html" class="catalog-panel__item h6">Гепатопротекторы</a>
                            <a href="catalog-level2.html" class="catalog-panel__item h6">Препараты для нервной системы</a>
                            <a href="catalog-level2.html" class="catalog-panel__item h6 hidden">Препараты</a>
                            <a href="catalog-level2.html" class="catalog-panel__item h6 hidden">Препараты</a>
                        </div>
                        <div class="catalog-panel__btn h7">Показать все</div>
                    </section>
                    <section class="catalog-popular">
                        <h2 class="catalog-popular__title h4">Популярное</h2>
                        <div class="catalog-popular__cards">
                            <a href="catalog-level2.html" class="card df df-ai-center df-jc-center df-column">
                                <img src="./img/popular-category-1.png" alt="" width="120" height="120" class="card__img">
                                <div class="card__title h6">Препараты от аллергии</div>
                            </a>
                            <a href="catalog-level2.html" class="card df df-ai-center df-jc-center df-column">
                                <img src="./img/popular-category-2.png" alt="" width="120" height="120" class="card__img">
                                <div class="card__title h6">Препараты от молочницы</div>
                            </a>
                            <a href="catalog-level2.html" class="card df df-ai-center df-jc-center df-column">
                                <img src="./img/popular-category-3.png" alt="" width="120" height="120" class="card__img">
                                <div class="card__title h6">Противогрибковые средства в дерматологии</div>
                            </a>
                            <a href="catalog-level2.html" class="card df df-ai-center df-jc-center df-column">
                                <img src="./img/popular-category-4.png" alt="" width="120" height="120" class="card__img">
                                <div class="card__title h6">Свечи от геморроя</div>
                            </a>
                            <a href="catalog-level2.html" class="card df df-ai-center df-jc-center df-column">
                                <img src="./img/popular-category-5.png" alt="" width="120" height="120" class="card__img">
                                <div class="card__title h6">Капли от сухости глаз</div>
                            </a>
                            <a href="catalog-level2.html" class="card df df-ai-center df-jc-center df-column">
                                <img src="./img/popular-category-6.png" alt="" width="120" height="120" class="card__img">
                                <div class="card__title h6">Гипертоническая болезнь препараты</div>
                            </a>
                            <a href="catalog-level2.html" class="card df df-ai-center df-jc-center df-column">
                                <img src="./img/popular-category-7.png" alt="" width="120" height="120" class="card__img">
                                <div class="card__title h6">Препараты для лечения заболеваний печени</div>
                            </a>
                            <a href="catalog-level2.html" class="card df df-ai-center df-jc-center df-column">
                                <img src="./img/popular-category-8.png" alt="" width="120" height="120" class="card__img">
                                <div class="card__title h6">Препараты при болях в почках</div>
                            </a>
                        </div>
                    </section>
                </div>
                <section class="other-product catalog-product-row">
                    <div class="other-product__header df df-ai-center df-jc-between">
                        <h2 class="other-product__title h3">Популярные товары</h2>
                        <a href="catalog-level2.html" class="other-product__link p1 bold">Смотреть все</a>
                    </div>
                    <div class="swiper other-product__swiper other-product-swiper">
                        <div class="swiper-wrapper">
                            @@for (var i = 0; i < 7; i++) {
                            @@include('./global/product-preview-card.html')
                            }
                        </div>
                        <div class="swiper-button-prev other-product-swiper-prev">
                            <svg width="12" height="15">
                                <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                            </svg>
                        </div>
                        <div class="swiper-button-next other-product-swiper-next">
                            <svg width="12" height="15">
                                <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                            </svg>
                        </div>
                    </div>
                </section>
                <section class="other-product catalog-product-row">
                    <div class="other-product__header df df-ai-center df-jc-between">
                        <h2 class="other-product__title h3">Препараты от аллергии</h2>
                        <a href="catalog-level2.html" class="other-product__link p1 bold">Смотреть все</a>
                    </div>
                    <div class="swiper other-product__swiper other-product-swiper">
                        <div class="swiper-wrapper">
                            @@for (var i = 0; i < 7; i++) {
                                @@include('./global/product-preview-card.html')
                            }
                        </div>
                        <div class="swiper-button-prev other-product-swiper-prev">
                            <svg width="12" height="15">
                                <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                            </svg>
                        </div>
                        <div class="swiper-button-next other-product-swiper-next">
                            <svg width="12" height="15">
                                <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                            </svg>
                        </div>
                    </div>
                </section>
                <section class="other-product catalog-product-row">
                    <div class="other-product__header df df-ai-center df-jc-between">
                        <h2 class="other-product__title h3">Препараты от простуды</h2>
                        <a href="catalog-level2.html" class="other-product__link p1 bold">Смотреть все</a>
                    </div>
                    <div class="swiper other-product__swiper other-product-swiper">
                        <div class="swiper-wrapper">
                            @@for (var i = 0; i < 7; i++) {
                            @@include('./global/product-preview-card.html')
                            }
                        </div>
                        <div class="swiper-button-prev other-product-swiper-prev">
                            <svg width="12" height="15">
                                <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                            </svg>
                        </div>
                        <div class="swiper-button-next other-product-swiper-next">
                            <svg width="12" height="15">
                                <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                            </svg>
                        </div>
                    </div>
                </section>
                <section class="other-product catalog-product-row">
                    <div class="other-product__header df df-ai-center df-jc-between">
                        <h2 class="other-product__title h3">Контрастные вещества</h2>
                        <a href="catalog-level2.html" class="other-product__link p1 bold">Смотреть все</a>
                    </div>
                    <div class="swiper other-product__swiper other-product-swiper">
                        <div class="swiper-wrapper">
                            @@for (var i = 0; i < 7; i++) {
                            @@include('./global/product-preview-card.html')
                            }
                        </div>
                        <div class="swiper-button-prev other-product-swiper-prev">
                            <svg width="12" height="15">
                                <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                            </svg>
                        </div>
                        <div class="swiper-button-next other-product-swiper-next">
                            <svg width="12" height="15">
                                <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                            </svg>
                        </div>
                    </div>
                </section>
                <section class="other-product catalog-product-row">
                    <div class="other-product__header df df-ai-center df-jc-between">
                        <h2 class="other-product__title h3">Гинекологические препараты</h2>
                        <a href="catalog-level2.html" class="other-product__link p1 bold">Смотреть все</a>
                    </div>
                    <div class="swiper other-product__swiper other-product-swiper">
                        <div class="swiper-wrapper">
                            @@for (var i = 0; i < 7; i++) {
                            @@include('./global/product-preview-card.html')
                            }
                        </div>
                        <div class="swiper-button-prev other-product-swiper-prev">
                            <svg width="12" height="15">
                                <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                            </svg>
                        </div>
                        <div class="swiper-button-next other-product-swiper-next">
                            <svg width="12" height="15">
                                <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                            </svg>
                        </div>
                    </div>
                </section>
                <section class="other-product catalog-product-row">
                    <div class="other-product__header df df-ai-center df-jc-between">
                        <h2 class="other-product__title h3">Дерматологические препараты</h2>
                        <a href="catalog-level2.html" class="other-product__link p1 bold">Смотреть все</a>
                    </div>
                    <div class="swiper other-product__swiper other-product-swiper">
                        <div class="swiper-wrapper">
                            @@for (var i = 0; i < 7; i++) {
                            @@include('./global/product-preview-card.html')
                            }
                        </div>
                        <div class="swiper-button-prev other-product-swiper-prev">
                            <svg width="12" height="15">
                                <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                            </svg>
                        </div>
                        <div class="swiper-button-next other-product-swiper-next">
                            <svg width="12" height="15">
                                <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                            </svg>
                        </div>
                    </div>
                </section>
                <section class="other-product catalog-product-row">
                    <div class="other-product__header df df-ai-center df-jc-between">
                        <h2 class="other-product__title h3">Обезболивающие средства</h2>
                        <a href="catalog-level2.html" class="other-product__link p1 bold">Смотреть все</a>
                    </div>
                    <div class="swiper other-product__swiper other-product-swiper">
                        <div class="swiper-wrapper">
                            @@for (var i = 0; i < 7; i++) {
                            @@include('./global/product-preview-card.html')
                            }
                        </div>
                        <div class="swiper-button-prev other-product-swiper-prev">
                            <svg width="12" height="15">
                                <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                            </svg>
                        </div>
                        <div class="swiper-button-next other-product-swiper-next">
                            <svg width="12" height="15">
                                <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                            </svg>
                        </div>
                    </div>
                </section>
                <section class="other-product catalog-product-row">
                    <div class="other-product__header df df-ai-center df-jc-between">
                        <h2 class="other-product__title h3">Гормональные препараты</h2>
                        <a href="catalog-level2.html" class="other-product__link p1 bold">Смотреть все</a>
                    </div>
                    <div class="swiper other-product__swiper other-product-swiper">
                        <div class="swiper-wrapper">
                            @@for (var i = 0; i < 7; i++) {
                            @@include('./global/product-preview-card.html')
                            }
                        </div>
                        <div class="swiper-button-prev other-product-swiper-prev">
                            <svg width="12" height="15">
                                <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                            </svg>
                        </div>
                        <div class="swiper-button-next other-product-swiper-next">
                            <svg width="12" height="15">
                                <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                            </svg>
                        </div>
                    </div>
                </section>
                <section class="other-product catalog-product-row">
                    <div class="other-product__header df df-ai-center df-jc-between">
                        <h2 class="other-product__title h3">Препараты для нервной системы</h2>
                        <a href="catalog-level2.html" class="other-product__link p1 bold">Смотреть все</a>
                    </div>
                    <div class="swiper other-product__swiper other-product-swiper">
                        <div class="swiper-wrapper">
                            @@for (var i = 0; i < 7; i++) {
                            @@include('./global/product-preview-card.html')
                            }
                        </div>
                        <div class="swiper-button-prev other-product-swiper-prev">
                            <svg width="12" height="15">
                                <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                            </svg>
                        </div>
                        <div class="swiper-button-next other-product-swiper-next">
                            <svg width="12" height="15">
                                <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                            </svg>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
@@include('./global/footer.html')
<script defer src="./js/swiper-bundle.min.js"></script>
<script defer src="./lightGallery-master/dist/lightgallery.min.js"></script>
<script defer src="./lightGallery-master/dist/plugins/thumbnail/lg-thumbnail.min.js"></script>
<script defer src="./js/index.js"></script>
</body>
</html>