<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>АПТЕКА</title>
    <link rel="stylesheet" href="./css/swiper-bundle.min.css">
    <link rel="stylesheet" href="./lightGallery-master/dist/css/lightgallery-bundle.min.css">
    <link rel="stylesheet" href="./lightGallery-master/dist/css/lg-thumbnail.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#31353b">
    <meta name="msapplication-TileColor" content="#31353b">
    <meta name="theme-color" content="#0478E3">
</head>
<body class="scroll">
@@include('./global/header.html')
<div class="container">
    <div class="grid-columns grid-columns_left product-page m-20 m-footer">
        <div class="product-page__menu">
            @@include('./global/aside-menu.html')
        </div>
        <div class="content">
            <nav class="breadcrumb df df-ai-center p3 m-20 scroll">
                <a href="index.html" class="breadcrumb__item">Главная</a>
                <span class="breadcrumb__separator"></span>
                <a href="catalog-level1.html" class="breadcrumb__item">Медицинская одежда</a>
                <span class="breadcrumb__separator"></span>
                <a href="catalog-level2.html" class="breadcrumb__item">Бахилы</a>
                <span class="breadcrumb__separator"></span>
                <span class="breadcrumb__item active">Бахилы одноразовые</span>
            </nav>
            <h1 class="page-title h1">Бахилы одноразовые пара 50 шт.</h1>
            <div class="product__row df df-ai-center scroll">
                <div class="product-rating df df-ai-center">
                    <svg width="16" height="15" class="active">
                        <use xlink:href="/img/sprites.svg#icon-star"></use>
                    </svg>
                    <svg width="16" height="15" class="active">
                        <use xlink:href="/img/sprites.svg#icon-star"></use>
                    </svg>
                    <svg width="16" height="15" class="active">
                        <use xlink:href="/img/sprites.svg#icon-star"></use>
                    </svg>
                    <svg width="16" height="15" class="active">
                        <use xlink:href="/img/sprites.svg#icon-star"></use>
                    </svg>
                    <svg width="16" height="15">
                        <use xlink:href="/img/sprites.svg#icon-star"></use>
                    </svg>
                    <div class="product-rating__text p3">6 отзывов</div>
                </div>
                <div class="product-prescription p3">
                    <!--<span class="product-prescription__separator">/</span>
                    <a href="#" class="product-prescription__item">По рецепту</a>-->
                    <span class="product-prescription__separator">/</span>
                    <span class="product-prescription__item active">Лекфарм СООО, Республика Беларусь</span>
                </div>
            </div>
            <div class="grid-columns grid-columns_right">
                <div class="content">
                    <div class="product-wrapper m-20 shadow-block content-focus"> <!--id="сharacteristic" data-scroll_id="сharacteristic" data-attr_key_menu="сharacteristic"-->
                        <ul class="product-nav df df-ai-center">
                            <li class="product-nav__item product-nav__item--active"><a href="#сharacteristic" class="p2">Характеристики</a></li>
                            <li class="product-nav__item"><a href="#instructions" class="p2">Инструкция</a></li>
                            <li class="product-nav__item"><a href="#review" class="p2">Отзывы</a></li>
                            <li class="product-nav__item"><a href="#analog" class="p2">Аналоги</a></li>
                            <li class="product-nav__item"><a href="#latest-watched" class="p2">Вы недавно смотрели</a></li>
                        </ul>
                        <div class="product">
                            <div class="product-сharacteristic content-focus">
                                <div class="product-сharacteristic__row df">
                                    <div class="product-сharacteristic__left">
                                        <div class="product__slider">
                                            <div thumbsSlider="" class="swiper product__swiper-sub">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide product__slide">
                                                        <img src="./img/prodcut-img.png" width="55" height="55">
                                                    </div>
                                                    <div class="swiper-slide product__slide">
                                                        <img src="./img/prodcut-img.png" width="55" height="55">
                                                    </div>
                                                    <div class="swiper-slide product__slide">
                                                        <img src="./img/prodcut-img.png" width="55" height="55">
                                                    </div>
                                                    <div class="swiper-slide product__slide">
                                                        <img src="./img/prodcut-img.png" width="55" height="55">
                                                    </div>
                                                    <div class="swiper-slide product__slide">
                                                        <img src="./img/prodcut-img.png" width="55" height="55">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper product__swiper-main">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide product__slide zoom-custom" style="background-image: url(./img/prodcut-img.png);" data-src="./img/prodcut-img.png" data-sub-html="<h4>Бахилы одноразовые пара 50 шт.</h4><p>Лекфарм СООО, Республика Беларусь</p>">
                                                        <img src="./img/prodcut-img.png" width="280" height="280">
                                                    </div>
                                                    <div class="swiper-slide product__slide zoom-custom" style="background-image: url(./img/prodcut-img.png);" data-src="./img/prodcut-img.png" data-sub-html="<h4>Бахилы одноразовые пара 50 шт.</h4><p>Лекфарм СООО, Республика Беларусь</p>">
                                                        <img src="./img/prodcut-img.png" width="280" height="280">
                                                    </div>
                                                    <div class="swiper-slide product__slide zoom-custom" style="background-image: url(./img/prodcut-img.png);" data-src="./img/prodcut-img.png" data-sub-html="<h4>Бахилы одноразовые пара 50 шт.</h4><p>Лекфарм СООО, Республика Беларусь</p>">
                                                        <img src="./img/prodcut-img.png" width="280" height="280">
                                                    </div>
                                                    <div class="swiper-slide product__slide zoom-custom" style="background-image: url(./img/prodcut-img.png);" data-src="./img/prodcut-img.png" data-sub-html="<h4>Бахилы одноразовые пара 50 шт.</h4><p>Лекфарм СООО, Республика Беларусь</p>">
                                                        <img src="./img/prodcut-img.png" width="280" height="280">
                                                    </div>
                                                    <div class="swiper-slide product__slide zoom-custom" style="background-image: url(./img/prodcut-img.png);" data-src="./img/prodcut-img.png" data-sub-html="<h4>Бахилы одноразовые пара 50 шт.</h4><p>Лекфарм СООО, Республика Беларусь</p>">
                                                        <img src="./img/prodcut-img.png" width="280" height="280">
                                                    </div>
                                                </div>
                                                <div class="swiper-pagination"></div>
                                            </div>
                                        </div>
                                        <div class="product__slider-label p3">Внешний вид товара может отличаться от
                                            изображённого
                                        </div>
                                    </div>
                                    <div class="product-сharacteristic__right">
                                        <div class="add-product-cart__top df df-jc-between">
                                            <div class="add-product-cart__price df df-column">
                                                <div class="label p1">Цена от:</div>
                                                <div class="price h2">28.52 р.</div>
                                                <div class="text p2">Средняя цена: <span>18.52 р.</span></div>
                                            </div>
                                            <button class="add-product-cart__heart btn-heart df df-ai-center df-jc-center">
                                                <svg width="22" height="22" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.87175 1.898L8.76603 1.81126C7.68678 0.925726 6.53166 0.476562 5.31295 0.476562C2.7681 0.476562 0.705078 2.53957 0.705078 5.08442C0.705078 8.60367 3.30553 12.0626 8.504 15.4995L8.87159 15.7426L9.23925 15.4995C14.4378 12.0626 17.0384 8.60367 17.0384 5.08442C17.0384 2.53956 14.9754 0.476562 12.4306 0.476562C11.2118 0.476562 10.0567 0.925727 8.97746 1.81126L8.87175 1.898ZM8.87175 3.74382L9.34116 3.27847C10.3327 2.2954 11.3547 1.8099 12.4306 1.8099C14.239 1.8099 15.7051 3.27594 15.7051 5.08442C15.7051 8.00414 13.4544 11.0135 8.96562 14.0772L8.87166 14.1413L8.77771 14.0772C4.28899 11.0135 2.03841 8.00414 2.03841 5.08442C2.03841 3.27595 3.50447 1.8099 5.31295 1.8099C6.38882 1.8099 7.41083 2.2954 8.40242 3.27848L8.87175 3.74382Z" fill="#6E7E96FF"></path>
                                                    <path d="M9.34116 3.27847L8.87175 3.74382L8.40242 3.27848C7.41083 2.2954 6.38882 1.8099 5.31295 1.8099C3.50447 1.8099 2.03841 3.27595 2.03841 5.08442C2.03841 8.00414 4.28899 11.0135 8.77771 14.0772L8.87166 14.1413L8.96562 14.0772C13.4544 11.0135 15.7051 8.00414 15.7051 5.08442C15.7051 3.27594 14.239 1.8099 12.4306 1.8099C11.3547 1.8099 10.3327 2.2954 9.34116 3.27847Z" fill="transparent"></path>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="product-сharacteristic__info">
                                            <div class="product-сharacteristic__item сharacteristic-item сharacteristic-item--hidden">
                                                <div class="сharacteristic-item__title p3">Тип:</div>
                                                <div class="сharacteristic-item__value p2">Медицинская одежда</div>
                                            </div>
                                            <div class="product-сharacteristic__item сharacteristic-item сharacteristic-item--hidden">
                                                <div class="сharacteristic-item__title p3">Количество в упаковке:</div>
                                                <div class="сharacteristic-item__value p2">50 шт.</div>
                                            </div>
                                            <div class="product-сharacteristic__item сharacteristic-item сharacteristic-item--hidden">
                                                <div class="сharacteristic-item__title p3">Производитель:</div>
                                                <div class="сharacteristic-item__value p2">ОртоС НОЦ</div>
                                            </div>
                                            <div class="product-сharacteristic__item сharacteristic-item">
                                                <div class="сharacteristic-item__title p3">Отпуск:</div>
                                                <div class="сharacteristic-item__value p2 df df-ai-center">
                                                    <svg width="20" height="20">
                                                        <use xlink:href="/img/sprites.svg#icon-warning"></use>
                                                    </svg>
                                                    По рецепту
                                                </div>
                                            </div>
                                            <div class="product-сharacteristic__item сharacteristic-item">
                                                <div class="сharacteristic-item__title p3">Доступные варианты:</div>
                                                <div class="сharacteristic-item__form df df-ai-stretch scroll">
                                                    <div class="сharacteristic-item__box">
                                                        <input type="radio" id="price-1" name="price" checked>
                                                        <label for="price-1" class="сharacteristic-item-label">
                                                            <span class="row df df-ai-center df-jc-between">
                                                                <span class="text">В упаковке:</span>
                                                                <span class="value">50</span>
                                                            </span>
                                                            <span class="price h5">38.55 р.</span>
                                                        </label>
                                                    </div>
                                                    <div class="сharacteristic-item__box">
                                                        <input type="radio" id="price-2" name="price">
                                                        <label for="price-2" class="сharacteristic-item-label">
                                                            <span class="row df df-ai-center df-jc-between">
                                                                <span class="text">В упаковке:</span>
                                                                <span class="value">100</span>
                                                            </span>
                                                            <span class="price h5">38.55 р.</span>
                                                        </label>
                                                    </div>
                                                    <div class="сharacteristic-item__box">
                                                        <input type="radio" id="price-3" name="price" disabled>
                                                        <label for="price-3" class="сharacteristic-item-label">
                                                            <span class="row df df-ai-center df-jc-between">
                                                                <span class="text">В упаковке:</span>
                                                                <span class="value">200</span>
                                                            </span>
                                                            <span class="price h5">38.55 р.</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#basic-information" class="product-сharacteristic__btn p3" >Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="how-to-work m-20 shadow-block">
                        <h2 class="how-to-work__title h3">Как это работает</h2>
                        <div class="how-to-work__cards">
                            <div class="how-to-work-card df df-ai-center df-column">
                                <img src="./img/how-to-work-icon-1.png" width="36" height="36" alt="" class="how-to-work-card__icon">
                                <div class="how-to-work-card__text p1">Воспользуйтесь поиском, чтобы найти необходимый товар</div>
                            </div>
                            <div class="how-to-work-card df df-ai-center df-column">
                                <img src="./img/how-to-work-icon-2.png" width="36" height="36" alt="" class="how-to-work-card__icon">
                                <div class="how-to-work-card__text p1">Добавьте лекарство в корзину или сразу забронируйте его</div>
                            </div>
                            <div class="how-to-work-card df df-ai-center df-column">
                                <img src="./img/how-to-work-icon-3.png" width="36" height="36" alt="" class="how-to-work-card__icon">
                                <div class="how-to-work-card__text p1">Выберете аптеку в которой вам удобно забрать заказ</div>
                            </div>
                            <div class="how-to-work-card df df-ai-center df-column">
                                <img src="./img/how-to-work-icon-4.png" width="36" height="36" alt="" class="how-to-work-card__icon">
                                <div class="how-to-work-card__text p1">Заберите заказ в этот же день в пункте выдачи с выгодой до 20%</div>
                            </div>
                        </div>
                    </div>
                    <div class="product-block-description m-20 shadow-block content-focus" id="basic-information">
                        <h2 class="product-block-description__title m-20 h3">Основные сведения</h2>
                        <div class="product-block-description__group m-20">
                            <div class="product-block-description__sub-title h6">Характеристики</div>
                            <ul class="product-block-description__list">
                                <li class="product-block-description__item df p1">
                                    <span class="title">Наименование:</span>
                                    <span class="value">Спазмалгон</span>
                                </li>
                                <li class="product-block-description__item df p1">
                                    <span class="title">Тип:</span>
                                    <span class="value">Лекарственное средство</span>
                                </li>
                                <li class="product-block-description__item df p1">
                                    <span class="title">Дозировка:</span>
                                    <span class="value">122мг/50мг</span>
                                </li>
                                <li class="product-block-description__item df p1">
                                    <span class="title">Форма выпуска:</span>
                                    <span class="value">Tаб. пролонгир. действия, покр. оболочкой, 300 мг: 100 шт.</span>
                                </li>
                                <li class="product-block-description__item df p1">
                                    <span class="title">Состав лекарственного средства:</span>
                                    <span class="value">Metamizole sodium, Pitofenon hydrochloride, Fenpiverinium bromide</span>
                                </li>
                                <li class="product-block-description__item df p1">
                                    <span class="title">Порядок отпуска:</span>
                                    <span class="value">По рецепту</span>
                                </li>
                                <li class="product-block-description__item df p1">
                                    <span class="title">Оригинальный препарат:</span>
                                    <span class="value">Генерик</span>
                                </li>
                                <li class="product-block-description__item df p1">
                                    <span class="title">Срок годности:</span>
                                    <span class="value">2 года</span>
                                </li>
                                <li class="product-block-description__item df p1">
                                    <span class="title">Код:</span>
                                    <span class="value">ATX	J05AX13</span>
                                </li>
                                <li class="product-block-description__item df p1">
                                    <span class="title">Производитель:</span>
                                    <span class="value">Лекфарм СООО, Республика Беларусь</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-block-description__group m-20">
                            <div class="product-block-description__sub-title h6">ATХ Классификация</div>
                            <ul class="product-block-description__list">
                                <li class="product-block-description__item df p1">
                                    <span class="title">A</span>
                                    <span class="value">Пищеварительный тракт и обмен веществ</span>
                                </li>
                                <li class="product-block-description__item df p1">
                                    <span class="title">A03</span>
                                    <span class="value">Препараты для лечения функциональных нарушений со стороны ЖКТ</span>
                                </li>
                                <li class="product-block-description__item df p1">
                                    <span class="title">A03D</span>
                                    <span class="value">Препараты, применяемые при нарушениях функции кишечника</span>
                                </li>
                                <li class="product-block-description__item df p1">
                                    <span class="title">A03DA</span>
                                    <span class="value">Препараты, применяемые при нарушениях функции кишечника</span>
                                </li>
                                <li class="product-block-description__item df p1">
                                    <span class="title">A03DA02</span>
                                    <span class="value">Питофенон в комбинации с анальгетиками <br> <a href="#">Брал</a> , <a href="#">Спазмалгон</a> , <a href="#">Брал</a> , <a href="#">Спазмалгон</a></span>
                                </li>
                            </ul>
                        </div>
                        <div class="cms-description-text m-20">
                            <p class="h6">Инструкция</p>
                            <p>Первичная гиперхолестеринемия по классификации Фредриксона или смешанная гиперхолестеринемия в качестве дополнения к диете, когда диета и другие немедикаментозные методы лечения оказываются недостаточными.</p>
                            <button class="btn-default">
                                <svg width="20" height="20">
                                    <use xlink:href="/img/sprites.svg#icon-document"></use>
                                </svg>
                                Инструкция
                            </button>
                        </div>
                    </div>
                    <div class="product-block-description m-20 shadow-block content-focus" id="instructions"> <!--id="instructions" data-scroll_id="instructions" data-attr_key_menu="instructions"-->
                        <h2 class="product-block-description__title m-20 h3">Инструкция</h2>
                        <div class="product-block-description__tabs product-tabs df df-ai-center df-row df-wrap">
                            <a href="#instructions-0" class="product-tabs__item p1">Лекарственная форма</a>
                            <a href="#instructions-1" class="product-tabs__item p1">Состав</a>
                            <a href="#instructions-2" class="product-tabs__item p1">Фармакотерапевтическая группа</a>
                            <a href="#instructions-3" class="product-tabs__item p1">Фармакодинамика</a>
                            <a href="#instructions-4" class="product-tabs__item p1">Фармакокинетика</a>
                            <a href="#instructions-5" class="product-tabs__item p1">Показания</a>
                            <a href="#instructions-6" class="product-tabs__item p1">Противопоказания</a>
                            <a href="#instructions-7" class="product-tabs__item p1">Способ применения и дозы</a>
                            <a href="#instructions-8" class="product-tabs__item p1">Побочные действия</a>
                            <a href="#instructions-9" class="product-tabs__item p1">Передозировка</a>
                            <a href="#instructions-10" class="product-tabs__item p1">Лекарственное взаимодействие</a>
                            <a href="#instructions-11" class="product-tabs__item p1">Состав</a>
                            <a href="#instructions-11" class="product-tabs__item p1">Температура хранения</a>
                        </div>
                        <div class="ui-accordion-item ui-accordion-item--opened m-20" id="instructions-0">
                            <div class="ui-accordion-item__toggle h6 df df-ai-center df-jc-between">
                                <span>Лекарственная форма</span>
                                <div class="ui-accordion-item__icon">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </div>
                            </div>
                            <div class="ui-collapse cms-description-text">
                                <p>Белая или белая с желтоватым оттенком суспензия, находящаяся в баллоне с дозирующим клапаном и распылителем. При распылении 5 доз препарата на стекло оставляет пятно белого цвета.</p>
                            </div>
                        </div>
                        <div class="ui-accordion-item ui-accordion-item--opened m-20" id="instructions-1">
                            <div class="ui-accordion-item__toggle h6 df df-ai-center df-jc-between">
                                <span>Состав</span>
                                <div class="ui-accordion-item__icon">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </div>
                            </div>
                            <div class="ui-collapse cms-description-text">
                                <p>Состав на одну дозу</p>
                                <p>Действующее вещество:</p>
                                <p>сальбутамола сульфат   - 120 мкг</p>
                                <p>эквивалентный сальбутамолу  - 100 мкг</p>
                                <p>Вспомогательные вещества:</p>
                                <p>этанол (спирт этиловый 96 %) - 2327 мкг</p>
                                <p>олеиновая кислота   - 44 мкг</p>
                                <p>тетрафторэтан (HFA-134а)  - 25509 мкг</p>
                            </div>
                        </div>
                        <div class="ui-accordion-item ui-accordion-item--opened m-20" id="instructions-2">
                            <div class="ui-accordion-item__toggle h6 df df-ai-center df-jc-between">
                                <span>Фармакотерапевтическая группа</span>
                                <div class="ui-accordion-item__icon">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </div>
                            </div>
                            <div class="ui-collapse cms-description-text">
                                <p>бронходилатирующее средство - бета2-адреномиметик селективный</p>
                            </div>
                        </div>
                        <div class="ui-accordion-item ui-accordion-item--opened m-20" id="instructions-3">
                            <div class="ui-accordion-item__toggle h6 df df-ai-center df-jc-between">
                                <span>Фармакодинамика</span>
                                <div class="ui-accordion-item__icon">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </div>
                            </div>
                            <div class="ui-collapse cms-description-text">
                                <p>Бронходилатирующее средство. В терапевтических дозах оказывает выраженное стимулирующее действие на бета2-адренорецепторы бронхов, кровеносных сосудов и миометрня. Практически не оказывает действия на бета1-адренорецепторы миокарда. Предупреждает развитие индуцированного аллергеном бронхоспазма. Может приводить к снижению числа бета-адренорецепторов. в том числе на лимфоцитах. Обладает рядом метаболических эффектов: снижает концентрацию калия в плазме, влияет на гликогенолиз и выделение инсулина, оказывает гипергликемический (особенно у пациентов с бронхиальной астмой) и липолитический эффект, увеличивает риск развития ацидоза.</p>
                                <p>В рекомендуемых терапевтических дозах не оказывает отрицательного влияния на сердечно-сосудистую систему, не вызывает повышения артериального давления. В меньшей степени, по сравнению с лекарственными средствами этой группы, оказывает положительное хроно- и инотропное действие. Вызывает расширение коронарных артерий.</p>
                                <p>После применения ингаляционных форм действие развивается быстро, начало эффекта - через 5 минут, максимум - через 30-90 минут (75% максимального эффекта достигается в течение 5 минут), продолжительность действия - 3-6 часов.</p>
                            </div>
                        </div>
                        <div class="ui-accordion-item ui-accordion-item--opened m-20" id="instructions-4">
                            <div class="ui-accordion-item__toggle h6 df df-ai-center df-jc-between">
                                <span>Фармакокинетика</span>
                                <div class="ui-accordion-item__icon">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </div>
                            </div>
                            <div class="ui-collapse cms-description-text">
                                <p>После ингаляционного введения 10-20% ингалируемой дозы достигает мелких бронхов и, не подвергаясь метаболизму, постепенно всасывается в системный кровоток, остальная часть оседает в верхних отделах дыхательных путей или в ротоглотке, а затем проглатывается.</p>
                                <p>Попав в кровь, сальбутамол метаболизируется в печени и экскретируется преимущественно с мочой в неизменном виде и в форме фенольного сульфата. Проглоченная часть ингаляционной дозы абсорбируется из желудочно-кишечного тракта и подвергается активному метаболизму при "первом прохождении через печень", превращаясь в фенольный сульфат. Неизмененный сальбутамол и конъюгат экскретируются преимущественно с мочой.</p>
                                <p>Большая часть дозы сальбутамола, введенной в организм внутривенным, пероральным или ингаляционным путем экскретируется в течение 72 часов. Степень связывания сальбутамола с белками плазмы составляет около 10%. Максимальная концентрация в плазме крови - 30 нг/мл. Период полувыведения -3,7-5 часов.</p>
                            </div>
                        </div>
                        <div class="ui-accordion-item ui-accordion-item--opened m-20" id="instructions-5">
                            <div class="ui-accordion-item__toggle h6 df df-ai-center df-jc-between">
                                <span>Показания</span>
                                <div class="ui-accordion-item__icon">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </div>
                            </div>
                            <div class="ui-collapse cms-description-text">
                                <ol>
                                    <li>Бронхиальная астма:
                                        <ul>
                                            <li>купирование приступов бронхиальной астмы, в том числе при обострении бронхиальной астмы тяжелого течения;</li>
                                            <li>предотвращение приступов бронхоспазма, связанных с воздействием аллергена или вызванных физической нагрузкой;</li>
                                            <li>применение в качестве одного из компонентов при длительной поддерживающей терапии бронхиальной астмы.</li>
                                        </ul>
                                    </li>
                                    <li>Хроническая обструктивная болезнь легких (ХОБЛ), сопровождающаяся обратимой обструкцией дыхательных путей, хронический бронхит.</li>
                                </ol>
                            </div>
                        </div>
                        <div class="ui-accordion-item ui-accordion-item--opened m-20" id="instructions-6">
                            <div class="ui-accordion-item__toggle h6 df df-ai-center df-jc-between">
                                <span>Противопоказания</span>
                                <div class="ui-accordion-item__icon">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </div>
                            </div>
                            <div class="ui-collapse cms-description-text">
                                <ul>
                                    <li>гиперчувствительность к любому компоненту препарата;</li>
                                    <li>детский возраст до 2-х лет;</li>
                                    <li>беременность.</li>
                                </ul>
                                <p>С осторожностью:</p>
                                <p>С осторожностью применять препарат, если у больных в анамнезе отмечается тахиаритмия, миокардит, пороки сердца, аортальный стеноз, ишемическая болезнь сердца, тяжелая хроническая сердечная недостаточность, артериальная гипертензия. тиреотоксикоз, феохромоцитома, декомпенсированный сахарный диабет, глаукома, эпиприпадки, почечная или печеночная недостаточность, одновременный прием неселективных ?-адреноблокаторов, период лактации.</p>
                                <p>Беременность и лактация:</p>
                                <p>Противопоказан во время беременности.</p>
                                <p>В период грудного вскармливания препарат назначается с осторожностью (неизвестно, проникает ли сальбутамол в грудное молоко) и только в тех случаях, когда ожидаемая польза для матери превышает любой возможный риск для ребенка.</p>
                            </div>
                        </div>
                        <div class="ui-accordion-item ui-accordion-item--opened m-20" id="instructions-7">
                            <div class="ui-accordion-item__toggle h6 df df-ai-center df-jc-between">
                                <span>Способ применения и дозы</span>
                                <div class="ui-accordion-item__icon">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </div>
                            </div>
                            <div class="ui-collapse cms-description-text">
                                <p>Только для ингаляционного введения.</p>
                                <p>Решить вопрос об увеличении дозы или частоты применения препарата может только врач.</p>
                                <p>Не рекомендуется применять препарат чаще 4-х раз в сутки. Потребность в частом применении максимальных доз препарата или во внезапном увеличении дозы свидетельствует об ухудшении течения заболевания.</p>
                                <p>Взрослым и детям старше 12 лет.</p>
                                <p>Купирование приступа бронхоспазма: рекомендуемая доза составляет 100-200 мкг (1-2 ингаляции).</p>
                                <p>Предотвращение приступов бронхоспазма, связанных с воздействием аллергена или вызванных физической нагрузкой: рекомендуемая доза составляет 200 мкг (2 ингаляции) за 10-15 минут до воздействия провоцирующего фактора. Длительная поддерживающая терапия: рекомендуемая доза составляет до 200 мкг (2 ингаляции) 4 раза в сутки. Максимальная суточная доза: 1200 мкг (12 ингаляций).</p>
                                <p>Детям от 2 до 12 лет.</p>
                                <p>Купирование приступа бронхоспазма: рекомендуемая доза составляет 100-200 мкг (1-2 ингаляции).</p>
                                <p>Предотвращение приступов бронхоспазма, связанных с воздействием аллергена или вызванных физической нагрузкой: рекомендуемая доза составляет 100-200 мкг (1-2 ингаляции) за 10-15 минут до воздействия провоцирующего фактора. Длительная поддерживающая терапия: рекомендуемая доза составляет до 200 мкг (2 ингаляции) 4 раза в сутки. Максимальная суточная доза: 800 мкг (8 ингаляций).</p>
                                <p>Применение ингалятора</p>
                                <ol>
                                    <li>Снимают с ингалятора колпачок (необходимо убедиться в отсутствии в выходной трубке пыли и грязи).</li>
                                    <li>Перед ингаляционным введением рекомендуется занять положение "стоя" или "сидя".</li>
                                    <li>Перед использованием баллон тщательно встряхивают.</li>
                                    <li>Делают глубокий выдох.</li>
                                    <li>Баллончик с аэрозолем переворачивают клапанно-распылителыюй головкой вниз, охватывают мундштук губами, делают глубокий вдох и одновременно нажимают на дно баллона. При этом происходит выброс аэрозоля.</li>
                                    <li>Задерживают дыхание на несколько секунд и, отведя мундштук ото рта, делают медленный выдох.</li>
                                </ol>
                                <p>Предупреждения. При применении дозированного аэрозоля необходимо четкое выполнение следующих инструкций: встряхивание баллончика с аэрозолем перед каждым использованием, четкая синхронизация вдоха и поступления препарата, максимально глубокий, интенсивный и достаточно продолжительный вдох, задержка дыхания после ингаляции препарата на 10 секунд. Рекомендуется перед применением препарата прополоскать рот водой.</p>
                                <p>Чистка ингалятора</p>
                                <p>Насадку ингалятора следует чистить не реже одного раза в неделю.</p>
                                <ol>
                                    <li>Снять защитный колпачок с распылительной насадки, а распылительную насадку снять с баллона.</li>
                                    <li>Тщательно промыть и высушить распылительную насадку и защитный колпачок под теплой проточной водой. При высушивании не пользуйтесь нагревательными устройствами.</li>
                                    <li>Надеть распылительную насадку на баллон и шток клапана, закрыть отверстие насадки защитным колпачком.</li>
                                </ol>
                                <p>Не помещать баллон в воду!</p>
                            </div>
                        </div>
                        <div class="ui-accordion-item ui-accordion-item--opened m-20" id="instructions-8">
                            <div class="ui-accordion-item__toggle h6 df df-ai-center df-jc-between">
                                <span>Побочные действия</span>
                                <div class="ui-accordion-item__icon">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </div>
                            </div>
                            <div class="ui-collapse cms-description-text">
                                <p>По частоте побочные эффекты могут быть разделены на следующие категории: очень частые (> 1/10), частые (> 1/100 и < 1/10), нечастые (> 1/1 000 и < 1/100). редкие (> 1/10 000 и < 1/1 000), очень редкие (< 1/10 000).</p>
                                <p>Со стороны иммунной системы: очень редко - реакции гиперчувствительности, включая ангионевротический отек, крапивница, сыпь, бронхоспазм, снижение артериального давления, коллапс.</p>
                                <p>Со стороны обменных процессов: редко - гипокалиемия, увеличение концентрации глюкозы и свободных жирных кислот в крови. Тяжелая гипокалиемия потенциально может быть результатом терапии ?2-агонистами.</p>
                                <p>Со стороны нервной системы: часто - тремор, головная боль, головокружение; очень редко - гиперактивность, тревожность.</p>
                                <p>Со стороны сердечно-сосудистой системы: часто - тахикардия; редко - учащенные сердцебиения; очень редко - аритмия, в том числе фибрилляция предсердий, суправентикулярная тахикардия, экстрасистолия, повышение артериального давления; редко - расширение периферических сосудов.</p>
                                <p>Со стороны дыхательной системы: очень редко - парадоксальный бронхоспазм, кашель.</p>
                                <p>Со стороны желудочно-кишечного тракта: редко - раздражение слизистой оболочки полости рта и глотки.</p>
                                <p>Со стороны костно-мышечной системы: редко - судороги.</p>
                            </div>
                        </div>
                        <div class="ui-accordion-item ui-accordion-item--opened m-20" id="instructions-9">
                            <div class="ui-accordion-item__toggle h6 df df-ai-center df-jc-between">
                                <span>Передозировка</span>
                                <div class="ui-accordion-item__icon">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </div>
                            </div>
                            <div class="ui-collapse cms-description-text">
                                <p>Симптомы передозировки сльбутамола: более частые - гипокалиемия, снижение артериального давления, тахикардия, мышечный тремор, рвота; менее частые -возбуждение, гипергликемия, гипоксемия, лактоацидоз, лейкоцитоз, респираторный алкалоз, головная боль; редкие - галлюцинации, судороги, тахиаритмия, трепетание желудочков.</p>
                                <p>Лечение: симптоматическое (следует отменить препарат), при тахиаритмии вводят кардиоселективные бета-адреноблокаторы (с осторожностью из-за опасности возникновения бронхоспазма).</p>
                            </div>
                        </div>
                        <div class="ui-accordion-item ui-accordion-item--opened m-20" id="instructions-10">
                            <div class="ui-accordion-item__toggle h6 df df-ai-center df-jc-between">
                                <span>Лекарственное взаимодействие</span>
                                <div class="ui-accordion-item__icon">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </div>
                            </div>
                            <div class="ui-collapse cms-description-text">
                                <p>Усиливает действие стимуляторов центральной нервной системы, тахикардию у больных с тиреотоксикозом, увеличивает вероятность развития экстрасистолии на фоне приема сердечных гликозидов. Теофиллин и другие ксантины при одновременном применении повышают вероятность развития тахиаритмий; средства для ингаляционной анестезии, лсводопа - тяжелых желудочковых аритмий.</p>
                                <p>Ингибиторы моноаминооксидазы и трициклические антидепрессанты, усиливая действие сальбутамола, могут привести к резкому снижению артериального давления. Несовместим (фармакологический антагонизм) с неселективными бета-адреноблокаторами (что необходимо также учитывать при применении глазных форм бета-адореноблокаторов).</p>
                                <p>Одновременное назначение с М-холиноблокаторами (в том числе ингаляционными) может способствовать повышению внутриглазного давления.</p>
                                <p>Диуретики, ксантины и глюкокортикостероиды усиливают гипокалиемическое действие сальбутамола.</p>
                            </div>
                        </div>
                        <div class="ui-accordion-item ui-accordion-item--opened m-20" id="instructions-11">
                            <div class="ui-accordion-item__toggle h6 df df-ai-center df-jc-between">
                                <span>Состав</span>
                                <div class="ui-accordion-item__icon">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </div>
                            </div>
                            <div class="ui-collapse cms-description-text">
                                <div class="overflow-x-scroll scroll">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <th colspan="2">Форма лекарства</th>
                                        </tr>
                                        <tr>
                                            <td>Капсулы</td>
                                            <td>1 капс.</td>
                                        </tr>
                                        <tr>
                                            <th colspan="2">Aктивное вещество</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>эссенциальные фосфолипиды EPL® — фосфолипиды из соевых бобов,</p>
                                                <p>содержащие 76%</p>
                                                <p>(3-sn-фосфатидил) холина</p>
                                            </td>
                                            <td>300 мг</td>
                                        </tr>
                                        <tr>
                                            <td>вспомогательные вещества: жир твердый — 57 мг; соевых бобов масло — 36 мг; масло касторовое гидрированное — 1,6 мг; этанол (96%) — 8,1 мг; этилванилин — 1,5 мг; 4-метоксиацетофенон — 0,8 мг; α-токоферол — 0,75 мг</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>капсула: желатин — 67,945 мг; вода очищенная — 11,495 мг; титана диоксид (E171) — 0,83 мг; краситель железа оксид желтый (E172) — 2,075 мг; краситель железа оксид черный (Е172) — 0,332 мг; краситель железа оксид красный (Е172) — 0,198 мг; натрия лаурилсульфат — 0,125 мг</td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="ui-accordion-item ui-accordion-item--opened m-20" id="instructions-12">
                            <div class="ui-accordion-item__toggle h6 df df-ai-center df-jc-between">
                                <span>Температура хранения</span>
                                <div class="ui-accordion-item__icon">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </div>
                            </div>
                            <div class="ui-collapse cms-description-text">
                                <p>от 2℃ до 30℃</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-block-disclaimer m-20">
                        <ul>
                            <li>🏪 Купить Компливит таблетки покрыт.плен.об. БАД, 60 шт, можно на сайте и в наших аптеках</li>
                            <li>📲 Цена на Компливит таблетки покрыт.плен.об. БАД, 60 шт, ниже в нашем приложении</li>
                            <li>📒 Подробная инструкция по применению Компливит таблетки покрыт.плен.об. БАД, 60 шт,</li>
                        </ul>
                        <p>Информация о товаре, в том числе цена товара, носит ознакомительный характер и не является публичной офертой согласно ст.437 ГК РФ.</p>
                        <p>Согласно постановлению Правительства РФ от 16 мая 2020 N 697 "Об утверждении Правил выдачи разрешения на осуществление розничной торговли лекарственными препаратами для медицинского применения дистанционным способом, осуществления такой торговли и доставки указанных лекарственных препаратов гражданам и внесении изменений в некоторые акты Правительства Российской Федерации.</p>
                        <p>Доставка рецептурных лекарств, при наличии рецепта выписанного врачом, осуществляется до ближайшей аптеки.</p>
                    </div>
                </div>
                <div>
                    <aside class="add-product-cart">
                        <div class="add-product-cart__top df df-jc-between">
                            <div class="add-product-cart__price df df-column">
                                <div class="label p1 bold">Цена от:</div>
                                <div class="price h2">28.52 р.</div>
                                <div class="text p2">Средняя цена: <span>18.52 р.</span></div>
                            </div>
                            <button class="add-product-cart__heart btn-heart df df-ai-center df-jc-center">
                                <svg width="20" height="20" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.87175 1.898L8.76603 1.81126C7.68678 0.925726 6.53166 0.476562 5.31295 0.476562C2.7681 0.476562 0.705078 2.53957 0.705078 5.08442C0.705078 8.60367 3.30553 12.0626 8.504 15.4995L8.87159 15.7426L9.23925 15.4995C14.4378 12.0626 17.0384 8.60367 17.0384 5.08442C17.0384 2.53956 14.9754 0.476562 12.4306 0.476562C11.2118 0.476562 10.0567 0.925727 8.97746 1.81126L8.87175 1.898ZM8.87175 3.74382L9.34116 3.27847C10.3327 2.2954 11.3547 1.8099 12.4306 1.8099C14.239 1.8099 15.7051 3.27594 15.7051 5.08442C15.7051 8.00414 13.4544 11.0135 8.96562 14.0772L8.87166 14.1413L8.77771 14.0772C4.28899 11.0135 2.03841 8.00414 2.03841 5.08442C2.03841 3.27595 3.50447 1.8099 5.31295 1.8099C6.38882 1.8099 7.41083 2.2954 8.40242 3.27848L8.87175 3.74382Z" fill="#6E7E96FF"/>
                                    <path d="M9.34116 3.27847L8.87175 3.74382L8.40242 3.27848C7.41083 2.2954 6.38882 1.8099 5.31295 1.8099C3.50447 1.8099 2.03841 3.27595 2.03841 5.08442C2.03841 8.00414 4.28899 11.0135 8.77771 14.0772L8.87166 14.1413L8.96562 14.0772C13.4544 11.0135 15.7051 8.00414 15.7051 5.08442C15.7051 3.27594 14.239 1.8099 12.4306 1.8099C11.3547 1.8099 10.3327 2.2954 9.34116 3.27847Z" fill="transparent"/>
                                </svg>
                            </button>
                        </div>
                        <button class="add-product-cart__btn btn-main"><!-- disable added -->
                            <svg width="22" height="22">
                                <use xlink:href="/img/sprites.svg#icon-cart"></use>
                            </svg>
                            В корзину
                        </button>
                        <button class="add-product-cart__btn btn-main second"><!-- disable added -->
                            Проверить наличие
                        </button>
                        <div class="add-product-cart__text p2">Товар в наличии в <span>2335 аптеках</span> </div>
                        <div class="add-product-cart__text p2">Оплата картой или наличными в аптеке</div>
                    </aside>
                </div>
            </div>
            <div class="grid-columns grid-columns_right">
                <div class="content">
                </div>
            </div>
            <section class="other-product content-focus" id="analog"> <!--data-scroll_id="analog" data-attr_key_menu="analog"-->
                <div class="other-product__header df df-ai-center df-jc-between">
                    <h2 class="other-product__title h3">Аналоги</h2>
                    <a href="catalog-level1.html" class="other-product__link p1 bold">Смотреть все</a>
                </div>
                <div class="swiper other-product__swiper other-product-swiper">
                    <div class="swiper-wrapper">
                        @@for (var i = 0; i < 7; i++) {
                        @@include('./global/product-preview-card.html')
                        }
                    </div>
                    <div class="swiper-button-prev other-product-swiper-prev">
                        <svg width="12" height="15">
                            <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                        </svg>
                    </div>
                    <div class="swiper-button-next other-product-swiper-next">
                        <svg width="12" height="15">
                            <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                        </svg>
                    </div>
                </div>
            </section>
            <section class="other-product content-focus" id="latest-watched"> <!--data-scroll_id="latest-watched" data-attr_key_menu="latest-watched"-->
                <div class="other-product__header">
                    <h2 class="other-product__title h3">Вы недавно смотрели</h2>
                </div>
                <div class="swiper other-product__swiper other-product-swiper">
                    <div class="swiper-wrapper">
                        @@for (var i = 0; i < 3; i++) {
                        @@include('./global/product-preview-card.html')
                        }
                    </div>
                    <!--<div class="swiper-button-prev other-product-swiper-prev">
                        <svg width="12" height="15">
                            <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                        </svg>
                    </div>
                    <div class="swiper-button-next other-product-swiper-next">
                        <svg width="12" height="15">
                            <use xlink:href="./img/sprites.svg#arrow-menu"></use>
                        </svg>
                    </div>-->
                </div>
            </section>
        </div>
    </div>
</div>
@@include('./global/footer.html')
<script defer src="./js/swiper-bundle.min.js"></script>
<script defer src="./lightGallery-master/dist/lightgallery.min.js"></script>
<script defer src="./lightGallery-master/dist/plugins/thumbnail/lg-thumbnail.min.js"></script>
<script defer src="./js/index.js"></script>
<script>
    document.getElementById("fade-form").classList.add("open");
    document.getElementById("registration-success").classList.add("registration-success--open");
</script>
</body>
</html>