@import "./colors.scss";
@import "./adaptive.scss";
html {
  font-family: system, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Segoe WP', Roboto, Ubuntu, Oxygen, Cantarell, 'Fira Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', 'Droid Sans', Tahoma, 'Microsoft Sans Serif', sans-serif;
  background: #fff;
  font-size: 16px;
  color: $black;
  margin: 0;
  padding: 0;
}
* {
  font-family: system, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Segoe WP', Roboto, Ubuntu, Oxygen, Cantarell, 'Fira Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', 'Droid Sans', Tahoma, 'Microsoft Sans Serif', sans-serif;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  background: $grayBg;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  color: $black;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
b, strong {
  font-weight: 700;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}
a:hover,
button:hover {
  cursor: pointer;
}
img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 3px;
}
svg {
  color: inherit;
  flex-shrink: 0;
}
button, input{
  outline: none;
}
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}
.container{
  width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
  @include media("max", "xxl") {
    width: 1170px;
  }
  @include media("max", "xl") {
    width: 100%;
    max-width: 100%;
  }
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.df {
  display: flex;
}
.d-none {
  display: none;
}
.df-row {
  flex-flow: row;
}
.df-column {
  flex-flow: column;
}
.df-row-reverse {
  flex-flow: row-reverse;
}
.df-column-reverse {
  flex-flow: column-reverse;
}
.df-wrap {
  flex-wrap: wrap;
}
.df-nowrap {
  flex-wrap: nowrap;
}
.df-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.df-jc-start {
  justify-content: flex-start;
}
.df-jc-end {
  justify-content: flex-end;
}
.df-jc-center {
  justify-content: center;
}
.df-jc-between {
  justify-content: space-between;
}
.df-jc-around {
  justify-content: space-around;
}
.df-ai-start {
  align-items: flex-start;
}
.df-ai-end {
  align-items: flex-end;
}
.df-ai-center {
  align-items: center;
}
.df-ai-stretch {
  align-items: stretch;
}
.df-ac-start {
  align-content: flex-start;
}
.df-ac-end {
  align-content: flex-end;
}
.df-ac-center {
  align-content: center;
}
.df-ac-between {
  align-content: space-between;
}
.df-ac-around {
  align-content: space-around;
}
.df-ac-stretch {
  align-content: stretch;
}
.df-as-auto {
  align-self: auto;
}
.df-as-start {
  align-self: flex-start;
}
.df-as-end {
  align-self: flex-end;
}
.df-as-center {
  align-self: center;
}
.df-as-baseline {
  align-self: baseline;
}
.df-as-stretch {
  align-self: stretch;
}
.grid-columns {
  display: grid;
  grid-gap: 20px;
  @include media("max", "xl") {
    display: block;
    grid-gap: 0;
  }
  &_right {
    grid-template-columns: 1fr 280px;
    @include media("max", "x") {
      grid-template-columns: initial;
    }
  }
  &_left {
    grid-template-columns: 230px 1fr;
    @include media("max", "xl") {
      grid-template-columns: initial;
    }
  }
  &_between {
    grid-template-columns: 230px 1fr 280px;
    @include media("max", "xl") {
      grid-template-columns: 230px 1fr;
    }
  }
}
.shadow-block{
  box-shadow: 0 5px 10px rgba(26, 54, 95, 0.02);
}
.shadow-product{
  box-shadow: 0 5px 10px rgba(26, 54, 95, 0.05);
}
.shadow-filter{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06), 0 0 3px rgba(0, 0, 0, 0.06);
}
.scroll{
  &::-webkit-scrollbar {
    background: transparent;
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: $mobiBg;
    border-radius: 4px;
    transition: all 0.3s;
  }
}
#fade {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}
h1 .h1,
h2 .h2,
h3 .h3,
h4 .h4,
h5 .h5,
h6 .h6,
.h7, {
  font-weight: 700;
}
h1, .h1 {
  font-size: 24px;
  line-height: 130%;
}
h2, .h2 {
  font-size: 22px;
  line-height: 130%;
}
h3, .h3 {
  font-size: 20px;
  line-height: 130%;
}
h4, .h4 {
  font-size: 18px;
  line-height: 130%;
}
h5, .h5 {
  font-size: 16px;
  line-height: 130%;
}
h6, .h6 {
  font-size: 14px;
  line-height: 130%;
}
.h7 {
  font-size: 12px;
  line-height: 130%;
}
p{
  font-size: 16px;
  line-height: 150%;
}
.p1{
  font-size: 14px;
  line-height: 150%;
  &.bold{
    font-weight: 700;
  }
}
.p2{
  font-size: 14px;
  line-height: 150%;
  &.bold{
    font-weight: 700;
  }
}
.p3{
  font-size: 12px;
  line-height: 150%;
  &.bold{
    font-weight: 700;
  }
}
.btn-main{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: $blue;
  border-radius: 6px;
  border: 1px solid $blue;
  color: $white;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  padding: 8px 15px;
  &:hover{
    background: $blueHover;
    border: 1px solid $blueHover;
  }
  &:active{
    background: $blueAccent;
    border: 1px solid $blueAccent;
  }
  &.disable{
    background: $grayBg;
    border: 1px solid $grayBg;
    color: $grayText;
  }
  &.added{
    background: transparent;
    color: $blue;
  }
}
.header{
  position: relative;
  background: $white;
  z-index: 1000;
  &.active{
    position: fixed;
    width: 100%;
    .header{
      &__sticky{
        display: flex;
      }
    }
  }
  &__row{
    padding: 12px 0;
  }
  &__left{
    gap: 10px;
  }
  &__icon-mob{
    display: none;
    @include media("max", "lg") {
      display: block;
    }
  }
  &__logo{
    flex-shrink: 0;
    @include media("max", "lg") {
      display: none;
    }
  }
  &__location{
    line-height: 130%;
    color: $grayText;
    gap: 3px;
    transition: all 0.3s;
    cursor: pointer;
    &:hover{
      color: $blueHover;
    }
    &:focus,
    &:active{
      color: $blueAccent;
    }
    & span{
      text-transform: capitalize;
    }
    @include media("max", "lg") {
      display: none;
    }
  }
  &__center{
    width: 1030px;
    @include media("max", "xxl") {
      width: 730px;
    }
    @include media("max", "xl") {
      width: 530px;
    }
    @include media("max", "lg") {
      width: calc(100% - 80px)
    }
  }
  &__right{
    gap: 35px;
  }
  &-cart{
    position: relative;
    &__value{
      display: block;
      font-weight: 600;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      color: $white;
      position: absolute;
      top: -2px;
      right: -4px;
      width: 18px;
      height: 18px;
      min-width: 15px;
      min-height: 15px;
      background: $pink;
      border: 1.5px solid $white;
      flex-shrink: 0;
      border-radius: 50%;
    }
  }
  &__profile{
    @include media("max", "lg") {
      display: none;
    }
  }
  &__sticky{
    display: none;
    gap: 24px;
  }
  &__name{
    font-weight: 700;
    color: $black;
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;
    @include media("max", "sm") {
      width: 145px;
    }
  }
  &__nav{
    gap: 30px;
    @include media("max", "md") {
      gap: 10px;
    }
    overflow-y: hidden;
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &-item{
      font-weight: 700;
      color: $grayText;
      padding: 12px 0 10px;
      border-bottom: 2px solid transparent;
      flex-shrink: 0;
      &.active{
        color: $blue;
        border-bottom: 2px solid $blue;
      }
    }
  }
}
.header-mob {
  display: none;
}
@include media("max", "lg") {
  .header-mob {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background: $white;
    z-index: 1000;
    padding: 0 15px;

    &__row {
      padding: 13px 0;
    }

    &__btn {
      padding: 0;
      background: transparent;
      border: none;

      &-close {
        color: $black;
      }
    }

    &__scroll{
      overflow-y: auto;
      max-height: calc(100% - 200px);
    }
    &__title {
      width: 100%;
      padding: 6px 0;
      font-weight: 700;
      gap: 8px;

      .arrow {
        margin: 0 0 0 auto;
        transform: rotate(90deg);
      }

      &.active .arrow {
        transform: rotate(-90deg);
      }
    }

    &__menu {
      margin-top: 8px;
      display: none;
      flex-flow: column;
      gap: 8px;
    }

    &__li {
      padding: 8px 0;

      &--favorit {
        border-bottom: 1px solid #EAEEF4;
        padding-bottom: 16px;
        margin-bottom: 8px;
      }
    }

    &__list {
      margin-top: 15px;
      display: flex;
      flex-flow: column;
      gap: 8px;
      position: relative;
      overflow: hidden;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 0;

      &.header-mob__item--prev {
        justify-content: flex-start;
        gap: 8px;
        padding: 8px;
        background: $grayBg;
        border-radius: 6px;

        svg {
          transform: rotate(180deg);
        }

        span {
          font-weight: 700;
          font-size: 14px;
          line-height: 150%;
        }
      }
    }

    &__link {
      font-size: 14px;
      line-height: 130%;
      color: $black;
    }

    .sub-menu {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: $white;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
      transform: translateX(100%);

      &.is-active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
      }
    }
  }
}
.search-catalog{
  width: 100%;
  position: relative;
  &__input{
    width: 100%;
    height: 40px;
    background: $white;
    border: 1px solid $blue;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-left: 15px;
    color: $black;
    cursor: pointer;
    &::placeholder{
      color: $grayText;
    }
    &:hover{
      border: 1px solid $blueHover;
    }
    &:focus{
      border: 1px solid $blueAccent;
    }
  }
  &__btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    @include media("max", "lg") {
      padding: 8px 12px;
    }
  }

  .autocomplete{
    display: none;
    position: absolute;
    z-index: 29;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 10px;
    width: 100%;
    @include media("max", "lg") {
      position: fixed;
      top: 65px;
      left: 0;
      right: 0;
      z-index: 999;
      height: calc(100% - 65px);
      width: 100%;
      margin: 0;
    }
    &__content{
      background: $white;
      border-radius: 6px;
      padding: 15px 12px;
      @include media("max", "lg") {
        padding: 15px 0;
        height: 100%;
      }
    }
    &__scroll-container{
      gap: 12px;
      overflow-y: auto;
      max-height: 80vh;
      @include media("max", "lg") {
        max-height: calc(100vh - 95px);
        padding: 0 12px;
      }
    }
    &__group{
      padding: 16px 0;
      &:first-child{
        padding-top: 0;
      }
      &:last-child{
        padding-bottom: 0;
      }
      &-title{
        padding: 0 8px;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 16px;
      }
      & + .autocomplete__group{
        border-top: 1px solid $grayLine;
      }
    }
    &__list{
      display: flex;
      flex-flow: column;
      gap: 8px;
      &--popular{
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        gap: 10px;
        .autocomplete{
          &__item{
            background: $grayBg;
            border-radius: 50px;
          }
        }
      }
      &--history{
        .autocomplete{
          &__item{
            gap: 8px;
            padding: 5px 8px;
            color: $black;
            border-radius: 8px;
            cursor: pointer;
            &:hover{
              background: $grayLine;
              color: $blueHover;
              & .autocomplete__icon-trash{
                color: $grayIcon;
              }
            }
            &:active,
            &:focus{
              background: $grayLine;
              color: $blueAccent;
              & .autocomplete__icon-trash{
                color: $grayIcon;
              }
            }
          }
          &__icon-trash{
            margin: 0 0 0 auto;
            color: transparent;
          }
        }
        svg{
          color: $grayIcon;
        }
      }
      &--product{
        gap: 12px;
        .product-item{
          padding: 5px 8px;
          color: $black;
          cursor: pointer;
          border-radius: 8px;
          transition: all 0.3s;
          @include media("max", "sm") {
            align-items: flex-start;
          }
          &:hover{
            background: $grayLine;
            color: $blueHover;
          }
          &:active,
          &:focus{
            background: $grayLine;
            color: $blueAccent;
          }
          &__left{
            gap: 12px;
            @include media("max", "sm") {
              align-items: flex-start;
            }
          }
          &__title{
            line-height: 130%;
            color: inherit;
          }
          &__right{
            gap: 30px;
          }
          &__price{
            gap: 5px;
            color: $grayText;
            flex-shrink: 0;
            @include media("max", "sm") {
              display: none;
            }
            span{
              line-height: 130%;
              font-weight: 700;
              color: $black;
            }
            &--mob{
              display: none;
              @include media("max", "sm") {
                display: flex;
              }
            }
          }
          &__btn{
            padding: 6px;
          }
        }
      }
      .autocomplete{
        &__link{
          display: block;
          padding: 5px 8px;
          line-height: 130%;
          color: $black;
          border-radius: 8px;
          &:hover{
            background: $grayLine;
            color: $blueHover;
          }
          &:active,
          &:focus{
            background: $grayLine;
            color: $blueAccent;
          }
        }
      }
    }
    .empty{
      &__text{
        padding: 5px;
        text-align: center;
      }
      .autocomplete__list{
        margin-top: 11px;
        padding-top: 16px;
        border-top: 1px solid $grayLine;
      }
    }
    &__all-result{
      display: block;
      font-weight: 700;
      line-height: 130%;
      color: $blue;
      margin-top: 11px;
      &:hover{
        color: $blueHover;
      }
      &:focus,
      &:active{
        color: $blueAccent;
      }
    }
  }
}
.footer{
  background: $white;
  box-shadow: 0 5px 10px rgba(26, 54, 95, 0.02);
  padding-bottom: 20px;
  @include media("max", "lg") {
    padding: 0;
  }
  &-menu{
    padding: 30px 0;
    gap: 15px 30px;
    @include media("max", "lg") {
      padding: 30px 0 15px;
    }
    &__item{
      display: flex;
      flex-flow: column;
      gap: 12px;
      .menu-sub{
        gap: 8px;
        &__item{
          max-width: 275px;
          &:hover{
            color: $blueHover;
          }
          &:active{
            color: $blueAccent;
          }
        }
        &__link{
          line-height: 130%;
        }
      }
    }
    &__title{
      font-weight: 700;
      line-height: 130%;
    }
  }
  &-copyright{
    gap: 15px;
    &__wrapper{
      @include media("max", "lg") {
        padding: 15px 0;
        border-top: 1px solid $grayLine;
      }
    }
  }
  &__info{
    gap: 6px;
  }
  &__logo{
    margin-bottom: 4px;
    @include media("max", "lg") {
      margin: 0;
    }
  }
  &__text{
    line-height: 130%;
    color: $grayText;
  }
}
.city-popup{
  display: none;
  background: $white;
  border-radius: 8px;
  padding: 20px;
  z-index: 999;
  width: 360px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__close{
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }
  &__title{
    font-weight: 700;
    color: $black;
    margin-bottom: 8px;
  }
  &__text{
    color: $black;
    margin-bottom: 16px;
  }
  &__search{
    margin-bottom: 12px;
  }
  &__label{
    width: 100%;
  }
  &__input{
    width: 100%;
    height: 40px;
    border: 1px solid #EAEEF4;
    border-radius: 8px;
    background: transparent;
    padding: 0 0 0 15px;
    color: $black;
    text-transform: capitalize;
    &::placeholder{
      color: $grayText;
    }
    &:hover{
      border: 1px solid $blueHover;
    }
    &:active,
    &:focus{
      border: 1px solid $blueAccent;
    }
  }
  &__list{
    max-height: 230px;
    padding: 12px 12px 16px;
    overflow-y: auto;
    gap: 15px;
    border: 1px solid #EAEEF4;
    border-radius: 8px;
    &-item{
      gap: 5px;
      font-weight: 700;
      cursor: pointer;
      &.hide{
        display: none;
      }
      svg{
        color: $blue;
      }
    }
  }
}
@include media("max", "xl") { }