@import "./colors.scss";
@import "./adaptive.scss";
html {
  font-family: system, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Segoe WP', Roboto, Ubuntu, Oxygen, Cantarell, 'Fira Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', 'Droid Sans', Tahoma, 'Microsoft Sans Serif', sans-serif;
  background: #fff;
  font-size: 16px;
  color: $black;
  margin: 0;
  padding: 0;
}
* {
  font-family: system, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Segoe WP', Roboto, Ubuntu, Oxygen, Cantarell, 'Fira Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', 'Droid Sans', Tahoma, 'Microsoft Sans Serif', sans-serif;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  background: $grayBg;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  color: $black;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
b, strong {
  font-weight: 700;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}
a:hover,
button:hover {
  cursor: pointer;
}
img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 3px;
}
svg {
  color: inherit;
  flex-shrink: 0;
}
button, input{
  outline: none;
}
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}
.container{
  width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
  @include media("max", "xxl") {
    width: 1170px;
  }
  @include media("max", "xl") {
    width: 100%;
    max-width: 100%;
  }
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.df {
  display: flex;
}
.d-none {
  display: none;
}
.df-row {
  flex-flow: row;
}
.df-column {
  flex-flow: column;
}
.df-row-reverse {
  flex-flow: row-reverse;
}
.df-column-reverse {
  flex-flow: column-reverse;
}
.df-wrap {
  flex-wrap: wrap;
}
.df-nowrap {
  flex-wrap: nowrap;
}
.df-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.df-jc-start {
  justify-content: flex-start;
}
.df-jc-end {
  justify-content: flex-end;
}
.df-jc-center {
  justify-content: center;
}
.df-jc-between {
  justify-content: space-between;
}
.df-jc-around {
  justify-content: space-around;
}
.df-ai-start {
  align-items: flex-start;
}
.df-ai-end {
  align-items: flex-end;
}
.df-ai-center {
  align-items: center;
}
.df-ai-stretch {
  align-items: stretch;
}
.df-ac-start {
  align-content: flex-start;
}
.df-ac-end {
  align-content: flex-end;
}
.df-ac-center {
  align-content: center;
}
.df-ac-between {
  align-content: space-between;
}
.df-ac-around {
  align-content: space-around;
}
.df-ac-stretch {
  align-content: stretch;
}
.df-as-auto {
  align-self: auto;
}
.df-as-start {
  align-self: flex-start;
}
.df-as-end {
  align-self: flex-end;
}
.df-as-center {
  align-self: center;
}
.df-as-baseline {
  align-self: baseline;
}
.df-as-stretch {
  align-self: stretch;
}
.grid-columns {
  display: grid;
  grid-gap: 20px;
  @include media("max", "xl") {
    display: block;
    grid-gap: 0;
  }
  &_right {
    grid-template-columns: 1fr 280px;
    @include media("max", "x") {
      grid-template-columns: initial;
    }
  }
  &_left {
    grid-template-columns: 230px 1fr;
    @include media("max", "xl") {
      grid-template-columns: initial;
    }
  }
  &_between {
    grid-template-columns: 230px 1fr 280px;
    @include media("max", "xl") {
      grid-template-columns: 230px 1fr;
    }
  }
}
.shadow-block{
  box-shadow: 0 5px 10px rgba(26, 54, 95, 0.02);
}
.shadow-product{
  box-shadow: 0 5px 10px rgba(26, 54, 95, 0.05);
}
.shadow-filter{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06), 0 0 3px rgba(0, 0, 0, 0.06);
}
.scroll{
  &::-webkit-scrollbar {
    background: transparent;
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: $mobiBg;
    border-radius: 4px;
    transition: all 0.3s;
  }
}
.lg-backdrop {
  background: rgba(49, 53, 59, .95);
  z-index: 999;
}
.lg-container .lg-next,
.lg-container .lg-prev {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 10px rgba(26, 54, 95, 0.05);
  opacity: 0.8;
  border-radius: 50%;
  color: $white;
  cursor: pointer;
  display: block;
  width: 38px;
  height: 38px;
  font-size: 20px;
  margin-top: -10px;
  padding: 8px 10px 9px;
  position: absolute;
  top: 50%;
  z-index: 10000;
}
.lg-outer .lg-thumb{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  float: none;
  margin: 0 auto 50px;
  padding: 0;
}
.lg-outer .lg-thumb-outer{
  background: transparent;
}
.lg-outer .lg-thumb-item{
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  float: none;
  border: 2px solid transparent;
  border-radius: 6px;
  margin: 0!important;
  /*width: 50px!important;
  height: 50px!important;*/
  &.active,
  &:hover{
    border: 2px solid $blue;
  }
}
.lg-sub-html{
  padding: 20px;
  h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: $white;
    margin-bottom: 8px;
  }
  p{
    font-size: 12px;
    line-height: 150%;
    color: $white;
    opacity: 0.8;
  }
}
#fade {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h7, {
  font-weight: 700;
}
h1, .h1 {
  font-size: 24px;
  line-height: 130%;
}
h2, .h2 {
  font-size: 22px;
  line-height: 130%;
}
h3, .h3 {
  font-size: 20px;
  line-height: 130%;
}
h4, .h4 {
  font-size: 18px;
  line-height: 130%;
}
h5, .h5 {
  font-size: 16px;
  line-height: 130%;
}
h6, .h6 {
  font-size: 14px;
  line-height: 130%;
}
.h7 {
  font-size: 12px;
  line-height: 130%;
}
p{
  font-size: 16px;
  line-height: 150%;
}
.p1{
  font-size: 14px;
  line-height: 150%;
  &.bold{
    font-weight: 700;
  }
}
.p2{
  font-size: 13px;
  line-height: 150%;
  &.bold{
    font-weight: 700;
  }
}
.p3{
  font-size: 12px;
  line-height: 150%;
  &.bold{
    font-weight: 700;
  }
}
.btn-main{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: $blue;
  border-radius: 6px;
  border: 1px solid $blue;
  color: $white;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  padding: 8px 15px;
  &:hover{
    background: $blueHover;
    border: 1px solid $blueHover;
  }
  &:active{
    background: $blueAccent;
    border: 1px solid $blueAccent;
  }
  &.disable{
    background: $grayBg;
    border: 1px solid $grayBg;
    color: $grayText;
  }
  &.added{
    background: transparent;
    color: $blue;
  }
}
.m-20{
  margin: 20px 0;
}
.header{
  position: relative;
  background: $white;
  z-index: 100;
  &.active{
    position: fixed;
    top: 0;
    width: 100%;
    .header{
      &__sticky{
        display: flex;
      }
    }
  }
  &__row{
    padding: 12px 0;
  }
  &__left{
    gap: 30px;
  }
  &__icon-mob{
    display: none;
    @include media("max", "xl") {
      display: block;
    }
  }
  &__logo{
    flex-shrink: 0;
    @include media("max", "lg") {
      display: none;
    }
  }
  &__location{
    position: absolute;
    top: 0;
    left: 1px;
    z-index: 2;
    width: 145px;
    height: 30px;
    margin: 5px 0;
    padding: 5px 15px;
    background: $white;
    line-height: 130%;
    color: $black;
    gap: 7px;
    transition: all 0.3s;
    cursor: pointer;
    border-right: 1px solid $grayLine;
    &:hover{
      color: $blueHover;
    }
    &:focus,
    &:active{
      color: $blueAccent;
    }
    & span{
      text-transform: capitalize;
    }
    & .icon{
      color: $blue;
    }
    & .arrow{
      color: $black;
      margin: 0 0 0 auto;
      transform: rotate(90deg);
    }
    @include media("max", "lg") {
      padding: 5px 10px;
      min-width: 110px;
      width: fit-content;
    }
  }
  &__center{
    position: relative;
    width: 1130px;
    @include media("max", "xxl") {
      width: 730px;
    }
    @include media("max", "xl") {
      width: 530px;
    }
    @include media("max", "lg") {
      width: calc(100% - 80px)
    }
  }
  &__right{
    gap: 25px;
  }
  &-cart{
    position: relative;
    &__value{
      display: block;
      font-weight: 600;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      color: $white;
      position: absolute;
      top: -2px;
      right: -4px;
      width: 18px;
      height: 18px;
      min-width: 15px;
      min-height: 15px;
      background: $pink;
      border: 1.5px solid $white;
      flex-shrink: 0;
      border-radius: 50%;
    }
  }
  &__profile{
    @include media("max", "lg") {
      display: none;
    }
  }
  &__sticky{
    display: none;
    gap: 24px;
    @include media("max", "lg") {
      display: none!important;
    }
  }
  &__name{
    font-weight: 700;
    color: $black;
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;
    @include media("max", "sm") {
      width: 145px;
    }
  }
  &__nav{
    gap: 30px;
    @include media("max", "md") {
      gap: 10px;
    }
    overflow-y: hidden;
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &-item{
      font-weight: 700;
      color: $grayText;
      padding: 12px 0 10px;
      border-bottom: 2px solid transparent;
      flex-shrink: 0;
      &.active{
        color: $blue;
        border-bottom: 2px solid $blue;
      }
    }
  }
}
.header-mob {
  display: none;
}
@include media("max", "lg") {
  .header-mob {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background: $white;
    z-index: 100;
    padding: 0 15px;

    &__row {
      padding: 13px 0;
    }

    &__btn {
      padding: 0;
      background: transparent;
      border: none;

      &-close {
        color: $black;
      }
    }

    &__scroll{
      overflow-y: auto;
      max-height: calc(100% - 200px);
    }
    &__title {
      width: 100%;
      padding: 6px 0;
      font-weight: 700;
      gap: 8px;

      .arrow {
        margin: 0 0 0 auto;
        transform: rotate(90deg);
      }

      &.active .arrow {
        transform: rotate(-90deg);
      }
    }

    &__menu {
      margin-top: 8px;
      display: none;
      flex-flow: column;
      gap: 8px;
    }

    &__li {
      padding: 8px 0;

      &--favorit {
        border-bottom: 1px solid #EAEEF4;
        padding-bottom: 16px;
        margin-bottom: 8px;
      }
    }

    &__list {
      margin-top: 15px;
      display: flex;
      flex-flow: column;
      gap: 8px;
      position: relative;
      overflow: hidden;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 0;

      &.header-mob__item--prev {
        justify-content: flex-start;
        gap: 8px;
        padding: 8px;
        background: $grayBg;
        border-radius: 6px;

        svg {
          transform: rotate(180deg);
        }

        span {
          font-weight: 700;
          font-size: 14px;
          line-height: 150%;
        }
      }
    }

    &__link {
      font-size: 14px;
      line-height: 130%;
      color: $black;
    }

    .sub-menu {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column;
      gap: 8px;
      background: $white;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
      transform: translateX(100%);

      &.is-active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
      }
    }
  }
}
.search-catalog{
  width: 100%;
  position: relative;
  &__input{
    width: 100%;
    height: 40px;
    background: $white;
    border: 1px solid $blue;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-left: 160px;
    color: $black;
    cursor: pointer;
    &::placeholder{
      color: $grayText;
    }
    &:hover{
      border: 1px solid $blueHover;
    }
    &:focus{
      border: 1px solid $blueAccent;
    }
    @include media("max", "lg") {
      padding-left: 120px;
    }
  }
  &__btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    @include media("max", "lg") {
      padding: 8px 12px;
    }
  }

  .autocomplete{
    display: none;
    position: absolute;
    z-index: 29;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 10px;
    width: 100%;
    @include media("max", "lg") {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100;
      height: 100%;
      width: 100%;
      margin: 0;
    }

    &__content{
      background: $white;
      border-radius: 6px;
      padding: 15px 12px;
      @include media("max", "lg") {
        padding: 15px 0;
        height: 100%;
      }
    }
    &__scroll-container{
      gap: 12px;
      overflow-y: auto;
      max-height: 80vh;
      @include media("max", "lg") {
        max-height: calc(100vh - 30px);
        padding: 0 12px;
      }
    }
    &-mobile{
      display: none;
      position: relative;
      @include media("max", "lg"){
        display: flex;
        gap: 10px;
        &__input{
          width: 100%;
          height: 35px;
          background: $white;
          border: 1px solid $blue;
          border-radius: 6px;
          padding-left: 15px;
          color: $black;
          cursor: pointer;
          &::placeholder{
            color: $grayText;
          }
          &:hover{
            border: 1px solid $blueHover;
          }
          &:focus{
            border: 1px solid $blueAccent;
          }
        }
        &__btn{
          background: transparent;
          border: none;
          font-weight: 700;
          color: $blue;
          &:hover{
            color: 1px solid $blueHover;
          }
          &:focus{
            color: 1px solid $blueAccent;
          }
        }
      }
    }
    &__group{
      padding: 16px 0;
      &:first-child{
        padding-top: 0;
      }
      &:last-child{
        padding-bottom: 0;
      }
      &-title{
        padding: 0 8px;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 16px;
      }
      & + .autocomplete__group{
        border-top: 1px solid $grayLine;
      }
    }
    &__list{
      display: flex;
      flex-flow: column;
      gap: 8px;
      &--popular{
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        gap: 10px;
        .autocomplete{
          &__item{
            background: $grayBg;
            border-radius: 50px;
          }
        }
      }
      &--history{
        .autocomplete{
          &__item{
            gap: 8px;
            padding: 5px 8px;
            color: $black;
            border-radius: 8px;
            cursor: pointer;
            &:hover{
              background: $grayLine;
              color: $blueHover;
              & .autocomplete__icon-trash{
                color: $grayIcon;
              }
            }
            &:active,
            &:focus{
              background: $grayLine;
              color: $blueAccent;
              & .autocomplete__icon-trash{
                color: $grayIcon;
              }
            }
          }
          &__icon-trash{
            margin: 0 0 0 auto;
            color: transparent;
          }
        }
        svg{
          color: $grayIcon;
        }
      }
      &--product{
        gap: 12px;
        .product-item{
          padding: 5px 8px;
          color: $black;
          cursor: pointer;
          border-radius: 8px;
          transition: all 0.3s;
          @include media("max", "sm") {
            align-items: flex-start;
          }
          &:hover{
            background: $grayLine;
            color: $blueHover;
          }
          &:active,
          &:focus{
            background: $grayLine;
            color: $blueAccent;
          }
          &__left{
            gap: 12px;
            @include media("max", "sm") {
              align-items: flex-start;
            }
          }
          &__title{
            line-height: 130%;
            color: inherit;
          }
          &__right{
            gap: 30px;
          }
          &__price{
            gap: 5px;
            color: $grayText;
            flex-shrink: 0;
            @include media("max", "sm") {
              display: none;
            }
            span{
              line-height: 130%;
              font-weight: 700;
              color: $black;
            }
            &--mob{
              display: none;
              @include media("max", "sm") {
                display: flex;
              }
            }
          }
          &__btn{
            padding: 6px;
          }
        }
      }
      .autocomplete{
        &__link{
          display: block;
          padding: 5px 8px;
          line-height: 130%;
          color: $black;
          border-radius: 8px;
          &:hover{
            background: $grayLine;
            color: $blueHover;
          }
          &:active,
          &:focus{
            background: $grayLine;
            color: $blueAccent;
          }
        }
      }
    }
    .empty{
      &__text{
        padding: 5px;
        text-align: center;
      }
      .autocomplete__list{
        margin-top: 11px;
        padding-top: 16px;
        border-top: 1px solid $grayLine;
      }
    }
    &__all-result{
      display: block;
      font-weight: 700;
      line-height: 130%;
      color: $blue;
      margin-top: 11px;
      &:hover{
        color: $blueHover;
      }
      &:focus,
      &:active{
        color: $blueAccent;
      }
    }
  }
}
.aside-menu{
  background: $white;
  border-radius: 8px;
  width: 230px;
  &__wrapper{
    position: relative;
    padding: 8px 12px 12px;
  }
  .aside-menu__list{
    display: flex;
    flex-flow: column;
    gap: 8px;
    .sub-menu{
      height: calc(100% - 50px);
      margin-top: 50px;
      display: flex;
      flex-flow: column;
      gap: 8px;
      z-index: 2;
      &:after{
        content: "";
        display: block;
        position: absolute;
        top: 49px;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background: $grayLine;
      }
      &__wrapper{
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        height: 100%;
        min-width: 320px;
        background: $white;
        padding: 8px 12px 12px 25px;
        z-index: 22;
        margin-left: -15px;
      }
    }
  }
  &__item:not(.aside-menu__item--last){
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    gap: 8px;
    border-radius: 6px;
    cursor: pointer;
    &:hover{
      background: $grayBg;
      & > .sub-menu__wrapper{
        display: block;
      }
    }
    &.aside-menu__item--favorite{
      margin-bottom: 16px;
      position: relative;
      &:after{
        content: "";
        display: block;
        position: absolute;
        bottom: -8px;
        left: -12px;
        right: 0;
        width: calc(100% + 24px);
        height: 1px;
        background: $grayLine;
      }
    }
  }
  &__item.aside-menu__item--last{
    margin: auto 0 0;
    padding: 8px;
    .aside-menu__link{
      display: block;
      font-weight: 700;
      font-size: 12px;
      line-height: 130%;
      color: $blue;
      &:hover{
        color: $blueHover;
      }
      &:focus,
      &:active{
        color: $blueAccent;
      }
    }
  }
  &__link{
    display: block;
    font-size: 14px;
    line-height: 130%;
    color: $black;
  }
}
.error-page{
  background: $white;
  border-radius: 8px;
  margin: 20px 0 30px;
  padding: 85px 0;
  @include media("max", "lg"){
    background: transparent;
    margin: 15px 0;
    padding: 0;
  }
  &__content{
    max-width: 450px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 75px 85px 105px;
    @include media("max", "lg"){
      padding: 45px 0;
    }
  }
  &__title{
    font-weight: 700;
    margin-bottom: 8px;
  }
  &__text{
    text-align: center;
    max-width: 280px;
    color: $grayText;
    margin-bottom: 16px;
  }
}
.footer{
  background: $white;
  box-shadow: 0 5px 10px rgba(26, 54, 95, 0.02);
  padding-bottom: 20px;
  @include media("max", "lg") {
    padding: 0;
  }
  &-menu{
    padding: 30px 0;
    gap: 15px 30px;
    @include media("max", "lg") {
      padding: 30px 0 15px;
    }
    &__item{
      display: flex;
      flex-flow: column;
      gap: 12px;
      .menu-sub{
        gap: 8px;
        &__item{
          max-width: 275px;
          &:hover{
            color: $blueHover;
          }
          &:active{
            color: $blueAccent;
          }
        }
        &__link{
          line-height: 130%;
        }
      }
    }
    &__title{
      font-weight: 700;
      line-height: 130%;
    }
  }
  &-copyright{
    gap: 15px;
    &__wrapper{
      @include media("max", "lg") {
        padding: 15px 0;
        border-top: 1px solid $grayLine;
      }
    }
  }
  &__info{
    gap: 6px;
  }
  &__logo{
    margin-bottom: 4px;
    @include media("max", "lg") {
      margin: 0;
    }
  }
  &__text{
    line-height: 130%;
    color: $grayText;
  }
}
.city-popup{
  display: none;
  background: $white;
  border-radius: 8px;
  padding: 20px;
  z-index: 99;
  width: 360px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include media("max", "sm") {
    width: 90%;
  }
  &__close{
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }
  &__title{
    font-weight: 700;
    color: $black;
    margin-bottom: 8px;
  }
  &__text{
    color: $black;
    margin-bottom: 16px;
  }
  &__search{
    margin-bottom: 12px;
  }
  &__label{
    width: 100%;
  }
  &__input{
    width: 100%;
    height: 40px;
    border: 1px solid #EAEEF4;
    border-radius: 8px;
    background: transparent;
    padding: 0 0 0 15px;
    color: $black;
    text-transform: capitalize;
    &::placeholder{
      color: $grayText;
    }
    &:hover{
      border: 1px solid $blueHover;
    }
    &:active,
    &:focus{
      border: 1px solid $blueAccent;
    }
  }
  &__list{
    max-height: 230px;
    padding: 12px 12px 16px;
    overflow-y: auto;
    gap: 15px;
    border: 1px solid #EAEEF4;
    border-radius: 8px;
    &-item{
      gap: 5px;
      font-weight: 700;
      cursor: pointer;
      &.hide{
        display: none;
      }
      svg{
        color: $blue;
      }
    }
  }
}
.add-product-cart{
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 85px;
  padding: 10px;
  z-index: 99;
  background: $white;
  @include media("max", "lg"){
    &.active{
      display: block;
    }
  }
  &__group{
    gap: 25px;
    margin-bottom: 10px;
  }
  &__price{
    flex-shrink: 0;
    .name{
      font-size: 10px;
      line-height: 150%;
      color: $grayText;
    }
    .value{
      font-weight: 700;
      color: $black;
    }
  }
  &__btn{
    width: 100%;
  }
  &__text{
    color: $black;
    text-align: center;
  }
}
.cms-description-text{
  & > * {
    margin: 8px 0;
  }
  & > *:not(div):first-child{
    margin: 0;
  }
  & > *:not(img):last-child {
    margin: 0;
  }
  & > * + *:not(img):last-child {
    margin: 8px 0 0 !important;
  }
  p{
    font-size: 14px;
    line-height: 150%;
    color: $black;
  }
  ul{
    margin: 8px 0;
    padding: 0;
    list-style-type: none;
    & > li{
      position: relative;
      font-size: 14px;
      line-height: 150%;
      color: $black;
      padding-left: 15px;
      &:not(:last-child){
        margin-bottom: 8px;
      }
      &:before {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        display: block;
        width: 8px;
        height: 8px;
        flex-shrink: 0;
        border-radius: 50%;
        background: $blue;
      }
      & > ol,
      & > ul{
        margin: 10px 0 10px 30px;
      }
    }
  }
  ol{
    margin: 8px 0;
    padding: 0;
    list-style-type: none;
    counter-reset: myCounter;
    & > li{
      position: relative;
      font-size: 14px;
      line-height: 150%;
      color: $black;
      &:not(:last-child){
        margin-bottom: 8px;
      }
      &:before {
        counter-increment: myCounter;
        content: counter(myCounter);
        margin: 1px 10px 0 0;
        display: inline-block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        border-radius: 30%;
        background: $blue;
        text-align: center;
        font-size: 13px;
        line-height: 17px;
        color: $white;
      }
      & > ol,
      & > ul{
        margin: 10px 0 10px 30px;
      }
    }
  }
}

.breadcrumb{
  gap: 6px;
  line-height: 130%;
  &__separator{
    display: block;
    /*margin-top: 3px;*/
    flex-shrink: 0;
    width: 2px;
    height: 2px;
    background: $blue;
    border-radius: 50%;
    line-height: 130%;
  }
  &__item{
    color: $blue;
    &.active{
      color: $grayText;
    }
  }
}
.product{
  &__title{
    margin-bottom: 8px;
  }
  &-rating{
    gap: 2px;
    svg{
      flex-shrink: 0;
      color: $grayIcon;
      opacity: 0.2;
      &.active{
        color: $yellow;
        opacity: 1;
      }
    }
    &__text{
      display: block;
      margin-left: 4px;
      color: $grayText;
      border-bottom: 1px dashed $grayText;
    }
  }
  &__row{
    gap: 6px;
  }
  &-prescription{
    color: $grayText;
    gap: 6px;
    &__item:not(.active){
      font-weight: 700;
      color: $pink;
    }
  }
  &-wrapper{
    padding: 10px 20px 20px;
    background: $white;
    border-radius: 8px;
  }
  &-nav{
    margin: -10px -20px 20px;
    padding: 0px 20px;
    border-bottom: 1px solid $grayBg;
    gap: 35px;
    &__item{
      &.product-nav__item--active a{
        color: $blue;
        border-bottom: 2px solid $blue;
      }
      a{
        display: block;
        font-weight: 600;
        color: $grayText;
        padding: 10px 0;
        border-bottom: 2px solid transparent;
      }
    }
  }
  &-сharacteristic{
    &__row{
      gap: 30px;
    }
    &__info{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      .сharacteristic-item{
        &__title{
          line-height: 130%;
          color: $grayText;
        }
        &__text{
          line-height: 130%;
          color: $black;
        }
        &__form{
          margin-top: 12px;
          gap: 12px;
        }
        &__box{
          position: relative;
          input{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 1px;
            height: 1px;
            &:disabled ~ label{
              opacity: 0.5;
            }
            &:checked ~ label{
              border: 1px solid $blue;
            }
          }
        }
        &-label{
          display: block;
          padding: 4px 8px;
          background: $white;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 0px 3px rgba(0, 0, 0, 0.06);
          border-radius: 6px;
          width: 96px;
          flex-shrink: 0;
          border: 1px solid $white;
          .row{
            font-size: 10px;
            line-height: 150%;
            gap: 4px;
          }
          .text{
            color: $grayText;
          }
          .value{
            color: $black;
          }
          .price{
            display: block;
            font-weight: 700;
            color: $black;
            margin-top: 4px;
          }
        }
      }
    }
    &__btn{
      display: block;
      margin-top: 5px;
      font-weight: 700;
      line-height: 130%;
      color: $blue;
      &:hover{
        color: $blueHover;
      }
      &:focus,
      &:active{
        color: $blueAccent;
      }
    }
  }
  &__slider{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: 10px;
    height: 280px;
    max-width: 350px;
    margin-bottom: 12px;
    .swiper-pagination{
      display: none;
      &-bullet{
        width: 8px;
        height: 8px;
        background: $grayBg;
        border-radius: 50px;
        opacity: 1;
        &-active{
          width: 16px;
          height: 8px;
          background: $blue;
          opacity: 1;
        }
      }
    }
    &-label{
      line-height: 130%;
      color: $grayText;
    }
  }
  &__swiper{
    &-main{
      width: 280px;
      .product{
        &__slide{
          background-position: 50% 50%;
          position: relative;
          height: 100%;
          width: 100%;
          overflow: hidden;
          cursor: zoom-in;
          &.zoom img {
            transition: opacity 0.5s;
            display: block;
            width: 100%;
          }
          &.zoom img:hover {
            opacity: 0;
          }
        }
      }
    }
    &-sub{
      width: 60px;
      .product{
        &__slide{
          border-radius: 6px;
          &.swiper-slide-thumb-active{
            border: 1px solid $blue;
          }
          img{
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 6px;
          }
        }
      }
    }
  }
}
.how-to-work{
  background: $white;
  border-radius: 8px;
  padding: 20px;
  &__title{
    margin-bottom: 20px;
  }
  &__cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
  }
  &-card{
    position: relative;
    text-align: center;
    &__icon{
      margin-bottom: 12px;
    }
    &:not(:last-child):before{
      content: "";
      position: absolute;
      top: 0;
      right: -10px;
      bottom: 0;
      width: 1px;
      height: 100%;
      background: $grayLine;
    }
  }
}
.product-block-description{
  background: $white;
  border-radius: 8px;
  padding: 20px;
  & *:first-child{
    margin-top: 0;
  }
  & *:last-child{
    margin-bottom: 0;
  }
  &__title{
    margin-bottom: 20px;
  }
  &__sub-title{
    margin-bottom: 12px;
  }
  &__list{
    gap: 12px;
  }
  &__item{
    position: relative;
    .title{
      display: inline-block;
      color: $grayText;
      background: $white;
      width: 320px;
      vertical-align: top;
      overflow: hidden;
      &:after {
        content: '';
        display: inline-block;
        width: 100%;
        margin: 0 -99% 0 3px;
        vertical-align: baseline;
        border-bottom: 1px dashed $grayLine;
      }
    }
    .value{
      display: inline-block;
      color: $black;
      background: $white;
      letter-spacing: normal;
      padding-left: 3px;
      width: calc(100% - 320px);
      vertical-align: bottom;
    }
  }
}